* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{ /*---font and color defaults --*/
    --bg-color: #fff;
    --text-color: #9e0d62;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

.user img {
    width: 50px;
    border-radius: 100%;
    border: 1px solid var(--bg-color);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 80px;
    background: linear-gradient(180deg, #020202 0%, rgba(52, 44, 44, 0.69) 50%, rgba(2, 2, 2, 50.79) 100%),
    linear-gradient(0deg, rgba(137, 33, 33, 70.2), rgba(137, 33, 33, 70.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 70.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    padding: 0.4rem 0.8rem;
    transition: all 0.5s ease;
}

.sidebar.active ~ .main-content {
    left: 250px;
    width: calc(100% - 250px);
}

.sidebar.active {
    position: fixed;
    width: 250px;
}

.sidebar #btn {
    position: absolute;
    color: var(--bg-color);
    top: .4rem;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn{
    left: 90%;
}

.sidebar .top .logo {
    color: var(--bg-color);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .logo {
    opacity: 1;
}


.top .logo  {
    font-size: 2rem;
    margin-right: 5px;
}

.user {
    display: flex;
    align-items: center;
    margin: 1rem 0;
}

.user p {
    color: var(--bg-color);
    opacity: 1;
    margin-left: 1rem;
}

.username {
    font-weight: 600;
}

.sidebar p {
    opacity: 0;
}

.sidebar.active p {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    list-style-type: none;
    height: 43px;
    width: 90%;
    margin: 0.6rem auto;
}

.sidebar ul li a {
    color: var(--bg-color);
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 0.8rem;
}

.sidebar ul li a:hover {
    background-color: var(--bg-color);
    color: #1a1a1a;
}

.sidebar ul li a i {
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
}

.sidebar .nav-item {
    opacity: 0;
}


.sidebar.active .nav-item {
    opacity: 1;
}


/*-----------MAIN----------------*/
.main-content {
    position: relative;
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    min-height: 100vh;
    top: 0;
    left: 80px;
    transition: all 0.5s ease;
    width: calc(100% - 80px);
    padding: 1rem;
    display: block;
    transition: all 0.5s ease;
    overflow-x: hidden;
}

.active {
    background-color: var(--text-color); /* Green background for active links */
    color: var(--bg-color); /* White text for active links */
}

/*-----------CARD----------------*/
.cardBox {
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .cardBox .card {
    position: relative;
    background: var(--white);
    padding: 30px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border: var(--bg-color) solid;
  }
  
  .cardBox .card .numbers {
    position: relative;
    font-weight: 500;
    font-size: var(--h2-font);
    color: var(--bg-color);
  }
  
  .cardBox .card .cardName {
    color: var(--bg-color);
    font-size: var(--p-font);
    margin-top: 5px;
  }
  
  .cardBox .card .iconBx {
    font-size: var(--h2-font);
    color: var(--bg-color);
  }
  
  .cardBox .card:hover {
    background: var(--text-color);
  }
  .cardBox .card:hover .numbers,
  .cardBox .card:hover .cardName,
  .cardBox .card:hover .iconBx {
    color: var(--bg-color);
  }


/*-----------CHART----------------*/
.chartsBx{
    position: relative;
    width: 100%;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 30px;
  }
  
  .chartsBx .chart{
    position: relative;
    background: linear-gradient(180deg, #020202 0%, rgba(52, 44, 44, 0.69) 50%, rgba(2, 2, 2, 50.79) 100%),
    linear-gradient(0deg, rgba(137, 33, 33, 70.2), rgba(137, 33, 33, 70.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 70.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    padding: 20px;
    width: 100%;
    box-shadow: 0 7px 25px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    border: 1px solid var(--blue);
}

/*-----------FORM----------------*/
.form {
    justify-content: space-between;
    width: 100%;
    display: flex;
    margin-bottom: 30px;
    overflow-x: hidden;
}

label {
    font-size: 20px;
    font-weight: 600;
    color: var(--bg-color);
}

.input {
    margin-right: 20px;
}

.quesDiv {
    padding: 0 10px 0 0;
    display: block;
    width: 100%;
}

.quesDiv textarea {
    border-radius: 15px;
    width: 100%;
    color: var(--bg-color);
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    font-size: 17px;
    text-indent: 10px;
    padding: 5px 5px 5px 5px;
}

.optionDiv {
    width: 100%;
    display: block;
    color: #ddd;
}

.optionDiv input {
    color: var(--bg-color);
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    border-radius: 5px;
    text-indent: 5px;
    font-size: 17px;
    margin-bottom: 3px;
    padding: 0 10px 0 0;
    width: 100%;
    height: 30px;
}

.ansDiv {  
    padding: 0 0 0 10px;
    width: 100%;
    display: block;
}

.ansDiv input{
    color: var(--bg-color);
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    border-radius: 5px;
    text-indent: 5px;
    font-size: 17px;
    width: 100%;
    height: 30px; 
}

.ansDiv button {
    margin-top: 60px;
    float: right;
    background: linear-gradient(45deg, #304e4b, hsl(258, 37%, 82%));
    color: var(--bg-color);
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 17px;
    text-align: center;
    border-width: 0;
}

.ansDiv button:hover {
    cursor: pointer;
}

.langDiv {
    display: block;
    width: 100%;
    margin: 10px 0;
}

.langDiv select {
    color: var(--bg-color);
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    font-weight: 400;
    border-radius: 5px;
    font-size: 17px;
}

.langDiv select option{
    color: #1a1a1a;
}

.difDiv {
    width: 100%;
    margin: 10px 0;
}

.difDiv select {
    color: var(--bg-color);
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    font-weight: 400;
    border-radius: 5px;
    font-size: 17px;
}

.difDiv select option{
    color: #1a1a1a;
}

.langpicDiv {
    width: 100%;
    display: block;
}

.langpicDiv #language {
    margin-right: 20px;
    color: var(--bg-color);
    background: linear-gradient(0deg, rgba(137, 33, 33, 0.2), rgba(137, 33, 33, 0.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 0.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    border-radius: 5px;
    text-indent: 5px;
    font-size: 17px;
    width: 150px;
    height: 30px; 
}

.langpicDiv #picture {
    margin-right: 20px;
    width: 230px;
    height: 25px;
    color: var(--bg-color);
    font-size: var(--p-font);
}

.langpicDiv #picture:hover {
    cursor: pointer;
}

.langpicDiv button {
    margin-top: 10px;
    padding: 7px 3%;
    background: linear-gradient(45deg, #304e4b, hsl(258, 37%, 82%));
    color: var(--bg-color);
    border-radius: 5px;
    font-size: var(--p-font);
    text-align: center;
    border-width: 0;
}

.langpicDiv button:hover {
    cursor: pointer;
}


     /*---- */


/*-----------TABLE----------------*/
.table {
    border-radius: 15px;
    display: flex;
    align-items: self-start;
    scroll-behavior: smooth;
}

.tablebg {
    background: linear-gradient(180deg, #020202 0%, rgba(52, 44, 44, 0.69) 50%, rgba(2, 2, 2, 50.79) 100%),
    linear-gradient(0deg, rgba(137, 33, 33, 70.2), rgba(137, 33, 33, 70.2)),
    linear-gradient(180.04deg, rgba(253, 140, 140, 70.81) 0.04%, rgba(255, 128, 185, 0.57699) 0.04%, rgba(200, 97, 97, 0.710019) 50.69%, rgba(206, 2, 137, 0.53) 101.64%);
    height: 50vh;
    width: 100%;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    overflow-y: scroll;
    overflow-x: hidden;
}

.heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--bg-color);
}

.search {
    border: none;
    width: 200px;
    background: transparent;
    border-bottom: #eee 2px solid;
    font-size: 1em;
    color: #ddd;
}

.search:focus {
    outline: none;
}

.action {
    border-radius: 5px;
    padding: 5px 10px;
    background: linear-gradient(45deg, #304e4b, hsl(258, 37%, 82%));
    color: var(--bg-color);
    text-decoration: none;
    text-align: center;
}

table {
    width: 100%;
    margin-top: 10px;
    border-collapse: collapse;
}


thead td {
    font-weight: 600;
    color: #ddd;
}

.number-column {
    width: 20px;
  }

.small-column {
    width: 50px;
}

.medium-column {
    width: 150px;
}


table tr {
    border-bottom: 1px solid rgba(83, 52, 52, 0.9);
}

tbody tr:hover {
    cursor: cell;
    background: #0a0707;
}

table tr:last-child {
    border-bottom: none;
}

td {
    /*width: 100px; /* Adjust based on your needs */
    /*white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;*/
    color: var(--bg-color);
    padding: 9px 5px;
}

.ved i {
    padding: 5px;
    color: var(--bg-color);
    border-radius: 50px;

} 

.tablebg table tbody td:last-child {
    white-space: nowrap;
}

.bxs-show {
    background: #27f1b4;
}

.bxs-show:hover {
    background: #fdfffe;
    color: #000;
    cursor: pointer;
}

.bxs-edit {
    background: #2767f1;
}

.bxs-edit:hover {
    background: #fdfffe;
    color: #000;
    cursor: pointer;
}

.bxs-trash {
    background: #ed5564;
}

.bxs-trash:hover {
    background: #fdfffe;
    color: #000;
    cursor: pointer;
}

#gold {
    font-weight: 800;
    color: gold;
}

#silver {
    font-weight: 800;
    color: silver;
}

#bronze {
    font-weight: 800;
    color: #CD7F32;
}


/*-----------RESPONSIVENESS----------------*/
@media(max-width:1366px) {
    .sidebar {
        width: 80px;
    }

    .main-content {
        width: calc(100% - 80px);
    }

    .chartsBx{
        grid-gap: 2px;
      }

    .chartsBx .chart{
        width: 100%;
      }


}


@media(max-width:860px) {
    .sidebar {
        position: fixed;
    }

    .ved i {
        padding: 3px;
    }   

    .quiz td:nth-child(5)  {
        display: none;
    }

    .manage-user td:nth-child(4)  {
        display: none;
    }  

    .leaderboard td:nth-child(5)  {
        display: table-cell;
    }  
    .leaderboard td:nth-child(6)  {
        display: none;
    }  
    .leaderboard td:nth-child(7)  {
        display: none;
    }
    .leaderboard td:nth-child(8)  {
        display: none;
    }


    .table {
        grid-template-columns: 1fr;
    }

    .tablebg {
        height: 65vh;
    }

    .cardBox {
        display: block;
      }

      .cardBox .card{
        margin-bottom: 5px;
      }

      .chartsBx{
        display: block;
      }

      .chartsBx .chart{
        margin-bottom: 5px;
      }

}


@media(max-width:540px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 2.7rem;
        --p-font: .6rem;
    }
    
    .main-content{
        padding: 0;
    }

    .form {  
        padding: 10px;  
        display: block;

    }

    .manage-user td:nth-child(4)  {
        display: none;
    }  


    .search {
        width: 100px;

    }

    .ansDiv {
        margin-top: 20px;
        padding: 0;
    }

    .ansDiv button {
        float: none;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .optionDiv {
        margin-top: 20px;
        padding: 0;
    }

    .langpicDiv #language {
        width: 100%;
        margin-right: 0;
    }  

    .langpicDiv #picture {
        margin-right: 0;
    }

    .langpicDiv button {
        margin-top: 0;
    }

    .quesDiv {
        padding: 0;
    }

    .langDiv {
        margin-top: 20px;
    }

    .difDiv {
        margin-top: 20px;
    }


    .sidebar.active ~ .main-content {
        left: 0;
        width: calc(100% - 0%);
    }

    .sidebar.active {
        z-index: 1000;
        width: 100%;
    }

    .quiz td:nth-child(2)  {
        display: none;
    }

    .manage-user td:nth-child(6)  {
        display: none;
    }

    table {
        font-size: var(--p-font);
    }

    .tablebg {
        height: 100vh;
        padding: 20px 10px 20px 10px;
        font-size: var(--p-font);        
    }

    .number-column {
        width: 0px;
      }
    
    .small-column {
        width: 0px;
    }

.languagetb tbody tr td img {
    height: 50px;
    width: 50px;
} 


}

@media(max-width:380px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 2.5rem;
        --p-font: .6rem;
    }

    .tablebg {
        padding: 10px 5px 10px 5px;
        font-size: var(--p-font);        
    }

    .search {
        width: 70px;
    }

    table {
        font-size: var(--p-font);
    }

    .manage-user td:nth-child(5)  {
        display: none;
    }   

}

@media(max-width:280px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 2rem;
        --p-font: .5rem;
    }

    .manage-user td:nth-child(7)  {
        display: none;
    }

    .leaderboard td:nth-child(4) {
        display: none;
    }
 
    table {
        font-size: var(--p-font);

    }


}

@media(max-height:1368px) {
    .sidebar {
        width: 80px;
    }

    .main-content {
        width: calc(100% - 80px);
    }

    .chartsBx{
        grid-gap: 2px;
      }

    .chartsBx .chart{
        width: 100%;
      }


}