    /* Reset and basic styling */
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    :root{ /*---font and color defaults --*/
        --bg-color: #210535;
        --main-color: #f5d5e0;
        --text-color: #430d4b;
        --second-color: #7b337d;
        --high-color: #c874b2;
        --big-font: 3rem;
        --h2-font: 1.5rem;
        --p-font: 1rem;
        --font1: 'Orbitron';
        --font2: Helvetica;
        transition: .2s;
    }

              .space-background {
                width: 45%;
                align-items: center;
                align-content: center;
                justify-content: center;
                border-radius: 35.066px;
                backdrop-filter: blur(7px);
                background: rgba(21, 05, 35, 0.8);                
            }

/*----------- Content Section------------ */
.logo {
    display: flex;
    justify-content: right;
}

.logo img {
    margin: 25px 0  0 0;
    border-radius: 50%;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
}

    form {
        padding: 15px 30px;
        text-align: right;
        align-content: center;
        align-items: center;
        justify-content: center;

    }

    .title{
        display: flex;
        justify-content: left;
        align-items: center;
        font-family: var(--font1);
        color: var(--main-color);
        padding: 30px 0;
        text-align: justify;
    }

    .title h2 {
        font-size: var(--h2-font);
    }

    .title p {
        margin-left: 5px;
        font-size: var(--p-font);
    }

    .alert {
        width: 50%;
        position: absolute;
        top: 30px;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: #ee0505; /* Adjust the background color as needed */
        color: var(--main-color); /* Adjust the text color as needed */
        box-shadow: 1px 2px var(--bg-color);
        z-index: 1;
    }

    .alert.alert-error {
        color: var(--text-color);
        background-color: var(--main-color); /* Adjust the error message color as needed */
    }

    .typeinput {
        font-family: var(--font2);
        display: flex;
        padding: 5px 0;
    }

    .typeinput input{
        background: rgba(21, 05, 35, 0.5);   
        border-style: solid;
        border-color: var(--second-color);
        text-indent: 7px;
        border-radius: 5px;
        width: 100%;
        height: 40px;
        font-size: var(--p-font);
        font-weight: 600;
        color: var(--main-color);
    }

    .typeinput input::placeholder {
        font-weight: 100;
        color: var(--second-color);
    }

    .typeinput .showhide {
        margin: 0 0px 0 10px;
        padding: 0px 15px;
        float: right;
        border-radius: 5px;
        border-style: hidden;
        background-color: var(--text-color);
        cursor: pointer;  
        transition: ease 0.2s;
    }

    .showhide:hover {
        background: var(--second-color);
    }

    .showhide img {
        width: 15px;
    }

    .logbutton {
        padding: 10px 0;
        text-align: center;
    }

    .btns{
        border-style: none;
        font-size: var(--p-font);
        border-radius: 5px;
        background-color: var(--text-color);
        color: var(--second-color);
        width: 100%;
        height: 40px;
        font-weight: 600;
        margin-bottom: 20px;
        transition: ease .2s;
    }

    .btns:hover{
        background-color: var(--second-color);
        color: var(--main-color);
        cursor: pointer;
    }

    .forgot {
        margin: -15px 0 20px 0;
        text-align: center; 
    }

    .forgot a {
        font-family: var(--font2);
        font-size: var(--p-font);
        color: var(--main-color);
    }

    .forgot a:hover {
        text-decoration-line: underline;
        cursor: pointer;
    }

    #passwordError {
        color: var(--text-color);
        display: none;
    
    }





    @media (max-width: 1300px) {
        :root {
            --h2-head: 2rem;
            --p-head: 1.5rem;
            transition: .2s;
          }

    }

    @media (max-width: 1024px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 1.5rem;
            --p-font: 1rem;
        }
    
            .space-background {
                width: 70%;
            }
    
            .typeinput input {
                height: 35px;
            }
    
            .btns {
                height: 35px;
            }
    


    }

    @media (max-width: 860px) {
        :root {
            --h2-head: 1.5rem;
            --p-head: 1rem;
            transition: .2s;
          }

          .space-background {
            padding: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            border-radius: 0px;
        }

          .logo {
            justify-content: center;
        }

        .title {
            display: block;
            justify-content: center;
            text-align: center;
        }

        .typeinput .showhide{
            color: var(--main-color);
            background-color: var(--second-color);
        }

        .btns{
            color: var(--main-color);
            background-color: var(--second-color);
        }
     

        }  



    @media (max-width: 540px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 2.2rem;
            --p-font: 1.1rem;
        }


    }


    @media (max-width: 376px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 2rem;
            --p-font: 1rem;
        }

    }


    @media (max-width: 280px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 1.5rem;
            --p-font: .9rem;
        }

        form {
            padding: 15px 10px;
        }

    }


    @media (min-height: 1024px) {
        :root {
            --h2-font: 2.5rem;
            --p-font: 1.5rem;
        }

        #back-btn {
            font-size: 80px;
          }

        .typeinput input{
            height: 50px;
        }

        .logo img {
            width: 150px; /* Adjust as needed */
            height: 150px; /* Adjust as needed */
        }

        .logbutton .btns {
            height: 50px;
        }

        .logo {
            justify-content: center;
        }

        .title {
            display: block;
            justify-content: center;
            text-align: center;
        }

        .btns{
            color: var(--main-color);
            background-color: var(--second-color);
            cursor: pointer;
        }
    
        .typeinput .showhide{
            padding: 0px 30px;
            color: var(--main-color);
            background-color: var(--second-color);
        }
    
        .typeinput .showhide img{
            width: 25px;
        }

    }

    @media (min-height: 1300px) {
        :root {
            --h2-font: 3rem;
            --p-font: 2rem;
        }

        .space-background {
            padding: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            border-radius: 0px;
        }

        .logo img {
            width: 200px; /* Adjust as needed */
            height: 200px; /* Adjust as needed */
        }

        #back-btn {
            font-size: 100px;
          }

        .typeinput input{
            height: 70px;
        }

        .logbutton .btns {
            height: 70px;
        }

    }
    
