   /* Reset and basic styling */
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: 'Orbitron', sans-serif;
      text-decoration: none;
      list-style: none;
  }

    :root{ /*---font and color defaults --*/
      --bg-color: #fff;
      --text-color: #221341;
      --second-color: #5a7184;
      --main-color: #6e54fa;
      --big-font: 6rem;
      --h2-font: 3rem;
      --p-font: 1.1rem;
  }

  .space-background { 
      width: 100%;
      height: 80vh; 
      padding: 100px 10%;
      border-radius: 35.066px;
      background-size: cover;
      border: 1px solid #333;
      background-color: rgba(255, 255, 255, 0.8); /* Fallback background color with transparency Fallback for browsers that do not support backdrop-filter */ 

      /* Apply backdrop-filter for browsers that support it */
      @supports (-webkit-backdrop-filter: blur(16px)) or (backdrop-filter: blur(6px)) {
      backdrop-filter: blur(6px); /* Standard syntax */
      -webkit-backdrop-filter: blur(6px); /* Safari 9+, Safari on iOS 9+ */
      background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%,       rgba(255,       182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);

}
}

      .title {

      margin-left: 263px; 
      margin-top: -80px;

      }

      .container {
    padding: 20px 5%;
    width: 115%;
    height: 125%;
    margin-left: -65px;
    margin-top: 10px;
    border: 1px solid rgba(0, 0, 0, 1.1);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    overflow: auto;
    position: relative; /* Add position relative to serve as a reference for absolute positioning */
}


      .badge {

      border: 1px solid black;
      padding: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      width: 270px;
      height: 300px;
      border-radius: 10px;

      }

      .badge:hover {

      transform: scale(1.06);

      }


      .badge img {

       width: 200px;
       height: 150px;
       margin-bottom: 15px;
       margin-top: 5px;

       }


       .badge_name1 {
	font-size: 18px;
        margin-left: 5px;

       }

       .percentage {

       font-weight: bold;
       margin-top: auto;
       font-size: 20px;
       margin-top: 10px;
       margin-left: 10px;

       }


       .details-btn {

       background-color: blue;
       color: white;
       padding: 20px 5px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       position: absolute;
       bottom: 10px;
       left: 49.10%;
       line-height: 1px;
       transform: translateX(-50%);
       height: 10px;
       margin-top: 50px;

       }
	
       .claim-btn {
	background-color: blue;
       color: white;
       padding: 20px 5px;
       border: none;
       border-radius: 5px;
       cursor: pointer;
       position: absolute;
       bottom: 10px;
       left: 49.10%;
       line-height: 1px;
       transform: translateX(-50%);
       height: 10px;
       width: 100px;
       margin-top: 50px;
       }


/* Styles for badge details */
.badge-details {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Updated height to fill the entire viewport */
    background: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 9999;
    border-radius: 30px;
}

.details-content {
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(1px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 1.1);
    padding: 20px;
    border-radius: 8px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 80%; /* Adjust the width to fill the container */
    max-width: 1200px; /* Optional: Set a maximum width for better readability */
}


.close-btn {

    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
	    
}


.details-image {

    width: 300px;
    height: 280px;
    object-fit: contain;
    display: block;
    margin-left: 1%; 

}


.locked {

    opacity: 0.5;

}


.btn-primary {

    margin-top: 10px;
    margin-left: 36.50%;
    margin-right: auto;
    display: block;
    background-color: #008080;
    color: black;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 5px;
    cursor: pointer;
    width: 200px;
    transition: background-color 0.3s ease;

}


.btn-primary:hover {
    background-color:  #008080;
    transform: scale(1.06);
}