
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background: var(--bg-color);
    font-family: 'Garamond';
}

:root{ /*---font and color defaults --*/
    --bg-color: #210535;
    --main-color: #f5d5e0;
    --text-color: #430d4b;
    --second-color: #7b337d;
    --high-color: #c874b2;
}

.logo {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 56em;
}

.logo img {
    border-radius: 100%;
    width: 5em;
    height: 5em;
}

.container {
    width: 60em;
    padding: 3em; /* Responsive padding */
    background: linear-gradient(-180deg, #FFDCDC 0%, #C874B2 100%);
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}

.border {
    position: relative;
    border: 3px solid var(--text-color);
    width: 50em;
    padding: 5em;
}

.marquee {
    margin: 0.5em 0;
    display: flex;
    justify-content: center;
    color: var(--second-color);
}

.marquee h1 {
    margin-top: 0;
   font-size: 4em;
}

.assignment {
    width: 45em;
    margin: 0.5em auto;
}

.assignment p {
    color: #000;
    font-size: 1.2em;
}

.person {
    margin: 0.5em auto;
    width: 50em;
}

.person h2 {
    color: #000;
    font-size: 3em;
}

.reason {
    width: 45em;
    margin: 0.2em auto;
}

.reason p {
    color: #000;
    font-size: 1.2em;
}

button {
    background-color: var(--second-color);
    color: var(--main-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-style: none;
    border-radius: 5px;
    font-size: 1em;
    padding: 10px 15px;
    top: 5vh;
    right: 50px;
    position: absolute;
    cursor: pointer;
}

button:hover {
    background-color: var(--text-color);
}

button i {
    margin-left: 5px;
    font-size: 1.5em;
}


@media print {
    body {
        display: block;
        background: none;
        margin: 0;
        min-height: 0;
    }

    .container {
        height: 49.66em;  /* approximately the width of A4 */
        width: 70.16em; /* approximately the height of A4 */
        box-shadow: none;
        page-break-after: always;
    }

    h1, h2, h3, h4, p {
        font-size: 12pt; /* Adjust font sizes as needed for print */
    }
}