* {
    font-family: var(--font1);
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: var(--font1);
  }
  
  :root{ /*---font and color defaults --*/
    --bg-color: #210535;
    --main-color: #f5d5e0;
    --text-color: #430d4b;
    --second-color: #7b337d;
    --high-color: #c874b2;
    --big-font: 3rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
    --font1: 'Orbitron';
    --font2: Helvetica;
    transition: .2s;
  }
  
  body {
    margin: auto;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Use full viewport height */
    background-size: cover;
    animation: animateBackground 20s linear infinite; /* Adjust as needed */
      }
      @keyframes animateBackground {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 100% 100%;
        }
      }
  
    .space-background { 
      margin: 20px;
      width: 80%;
      padding: 80px;
      position: relative; 
      border-radius: 35.066px;
      background: var(--main-color);  
    }
  
      /*----------- Content Section------------ */
      .title {
        position: relative;
        padding-bottom: 50px;
        width: 100%;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      
      .title h2 {
       color: var(--text-color);
        font-size: var(--h2-font);
      }
  
    .content-section {
      align-items: center;
      align-content: center;
      display: block;
      text-align: center;
      margin: 0;
  }
 
  .top {
    display: flex;
    justify-content: space-between;
  }
 
  .details {
    display: block;
    align-items: center;
  }
 
  .contents {
    text-align: left;
    margin: 20px;
    display: flex;
    
  }

  .profile-image {
    position: absolute;   
    display: none;
    border: 2px solid #00FF7F;
    }

    .profile-icon:hover { 
    border: 2px solid #00FF7F; /* Add a border when hovered */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a box shadow when hovered */
}
 
  input {
    font-size: var(--p-font);
    background-color: var(--main-color);
    color: var(--text-color);
    border-radius: 5px;
    padding: 10px;
  }
 
  #Username {
    margin: auto;
    font-weight: 800;
    font-size: var(--p-font);
    color: var(--bg-color);
  }
 
    #lastName, #firstName {
     margin: auto;
     font: var(--p-font);
    }
 
  .contents img {
    cursor: pointer;
    margin-right: 10px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
 
  .others input {
    font-variant: var(--p-font);
    text-align: center;
    margin: auto;
  }
 
  .Editprofile {
    font-weight: 600;
    font-size: var(--p-font);
    display: flex;
  }
 
  .bottom {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
  }

 .submit-button {
    border: none;
    width: 70px;
    height: 35px;
    background: transparent;
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
}
.submit-button:hover {
   cursor: pointer;
}

.verification-message {
    position: absolute;
    padding: 10px;
    margin-left: 310px; 
    margin-top: 330px;
    font-size: 20px;
    color:  #6B8E23;
}


input[type="text"] {
  border-color: var(--high-color); 
  transition: border-color 0.3s ease; 
}

input[type="text"]:focus,
input[type="text"]:hover {
  border-color: var(--bg-color);
}

select {
  font-size: var(--p-font);
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 10px;
  border-color: var(--high-color); 
  transition: border-color 0.3s ease;
}

select:focus,
select:hover {
  color: var(--text-color);
  background-color: var(--main-color);
  border-color: var(--second-color);
}

 
  
       /* -------RESPONSIVENESS======= */
  @media (max-width: 1300px) {
    :root {
      --big-font: 4.5rem;
      --h2-font: 2.3rem;
      --p-font: 1rem;
      transition: .2s;
    }
  
    }
  
  @media (max-width: 860px) {
    body {
      margin-top: 10vh;
      overflow-y: hidden;
    }

    .space-background {
      padding: 40px 0;
      position: fixed;
      border-radius: 0px;
      width: 100%;
      height: 100vh; 
      overflow-y: scroll;
    }
 
  .top {
    display: block;
  }
 
  .contents {
    text-align: center;
    margin: 0 20px;
    display: block;
  }
 
  .contents img {
    width: 70px;
    height: 70px;
  }
 
  .names {
    display: block;
    text-align: center;
  }
 
  .others{
    width: 0;
    display: block;
  }
 
  .others input {
    margin: 10px;
  }
 
  .Editprofile {
    margin: 20px 0 0 0;
    display: block;
  }
 
  .bottom {
    display: block;
    text-align: center;
  }
 
  .bottom a img{
    margin: 0 0 10px 0;
  }

  input {
    text-align: center;
   }

   .submit-button {
    background: var(--high-color);
    border-radius: 5px;
}

  
  }
  
  @media (max-width: 540px) {
  
    :root {
      --big-font: 2.8rem;
      --h2-font: 2rem;
      --p-font: 0.8rem;
      transition: .2s;
    }
  
  .top {
    align-items: center;
    align-self: center;
    display: block;
  }
 
  .contents {
    text-align: center;
    margin: 0;
    display: block;
    padding: 0;
  }
 
  .names {
    display: block;
    text-align: center;
    width: auto;
  }
 
  .others{
    padding: 10px 0;
    width: auto;
    display: block;
  }
 
  .others input {
    width: auto;
    margin: 2px;
  }
 
  .contents img {
    margin: 0;
   width: 70px;
   height: 70px;
 }
 
  
  }
  
  @media (max-width: 376px) {
      :root {
      --big-font: 3.5rem;
      --h2-font: 1.5rem;
      transition: .2s;
    }

    .space-background { 
      padding: 40px 15px; 
    }
  
  }
  
  
  @media (max-width: 280px) {
      :root {
      --big-font: 3.5rem;
      --h2-font: 1.5rem;
      transition: .2s;
    }
 
    .contents div input{
        width: 100%;
        text-align: center;
      }

      .space-background { 
        padding: 50px 15px; 
      }
 
    
  
  }
  
  @media (min-height: 1024px) {
    body {
      margin-top: 10vh;
      overflow: hidden;
     }

  .space-background {
    padding: 80px 80px;
    position: fixed;
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
    overflow: scroll;
  }
  
  .content-section {
    grid-template-columns: repeat(1, 1fr);
  }
  
    :root {
      --big-font: 4.5rem;
      --h2-font: 2.5rem;
      --p-font: 1.5rem;
      transition: .2s;
  
  }
 
  .top {
    align-items: center;
    align-self: center;
    display: block;
  }
 
  .contents {
    text-align: center;
    margin: 0;
    display: block;
  }

  .title {
    width: 100%;
    height: 30px;
    align-items: center;
    justify-content: left;
  }
 
  .names {
    display: block;
    text-align: center;
  }

  input {
    font-size: var(--p-font);
  }
 
 
  .contents img {
    margin: 30px;
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }
 
  .others{
    width: auto;
    text-align: center;
    display: block;
  }
 
  .Editprofile {
    width: 100%;
    margin: 20px 0 0 0;
    display: block;
  }
 
  .others input {
    width: auto;
    margin: 2px;
  }
 
  .bottom {
    display: block;
    text-align: center;
  }
 
  .bottom a img{
    margin: 0 0 10px 0;
  }

  .submit-button {
    background: var(--high-color);
    width: 100px;
    height: 50px;
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--text-color);
}
  
  }
 
  @media (min-height: 1300px) {
      :root {
        --big-font: 5rem;
        --h2-font: 2.5rem;
        --p-font: 1.5rem;
        transition: .2s;
    
    }
  
 
    }