
  .quiz-container {
   display:grid;
   grid-template-columns: repeat(1, 1fr);
   margin-left: 20vh;    
   align-items: center;
   justify-content: center; 
   width: 65%;
   max-width: 800px;
   height: 68vh; 
   position: fixed; 
   border-radius: 35px;
   border: 0.1px solid #FFDCDC;
   background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);
   box-shadow: 15px 18px 2px rgba(0, 0, 0, 0.5), -15px 18px 2px rgba(0, 0, 0, 0.6); 
   backdrop-filter: blur(3px);  
   z-index: 1;   
  
  }
  
  h2 {
  
   margin-left: 4vh;
   margin-top: 4vh;
   font-weight: 800;
   font-family: 'Poppins', sans-serif;
   font-size: 40px;
   
  }
  
  #question-1 {
   margin-top: -5vh;
   font-family: 'Orbitron', sans-serif; /* Change 'YourChosenFont' to the desired font family */
   font-size: 24px; /* Adjust the font size as needed */
   text-align: center;
   font-weight: bold;
  
  }
  
  .code-container {
   background-color: white; /* Set the background color for the code container */
   width: 70%;
   border: 2px solid #000000;
   border-radius: 15px; /* Adjust the border radius as needed */
   padding: 30px; /* Adjust the padding as needed */
   margin: 5px auto; /* Add margin to separate it from other elements */
   margin-top: -5vh;
  
  }
  
  .underline-input {
   font-family: 'Noto Sans', sans-serif;
   font-weight: bold;
   color: #000000;
   border: none;
   border-bottom: 1px solid #000;
   outline: none;
   font-size: inherit;
   padding: 0;
   margin: 0;
   width: 90px;
   background-color: transparent;
  }
  
  .code-container code {
   font-family: 'Noto Sans', sans-serif; /* Change the font for the code */
   font-size: 20px; /* Adjust the font size as needed */
   color: solid #000000; /* Set the color: r for the code */
   font-weight: bold;
  } 
  
  button {
   font-family: 'Orbitron', sans-serif;
   background-color: rgba(92, 0, 164, 0.80);
   color: white;
   padding: 15px 10px;
   margin-bottom: 5vh;
   margin-left: 45vh;
   width: 30vh;
   border: none;
   border-radius: 20px;
   cursor: pointer;
   font-size: 20px;
   transition: background-color 0.3s ease;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  button:hover {
   background-color: #000000;
  }
  
  
  .additional-info {
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   position: absolute;
   margin-top: 68vh; /* Adjust margin as needed */
   font-size: 15px; /* Adjust font size as needed */
   text-align: justify; /* Align text to the center */
   margin-left: 8vh;
  }
  
  
  
  #congratulations {
   display: none;
   position: fixed;
   margin-left: 20vh;   
   width: 58%;
   max-width: 800px;
   height: 68vh; 
   position: fixed; 
   border-radius: 35px;
   border: 0.1px solid #FFDCDC;
   background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);
   box-shadow: 15px 18px 2px rgba(0, 0, 0, 0.5), -15px 18px 2px rgba(0, 0, 0, 0.6); 
   backdrop-filter: blur(3px);  
   z-index: 1;   
  }
  
  #congratulations h2 {
   font-family: 'Poppins', sans-serif; /* Change to your desired font family */
   font-size: 40px; /* Adjust the font size as needed / / Adjust the font weight as needed */
   margin-top: 88px;
   color: lightgreen; /* Adjust the color as needed */
   margin-left: 44vh;
  
   
   /* Add any additional styles for the h2 element */
  }
  
  .correct-container {
   text-align: center;
   background-color: white; /* Set the background color for the code container */
   width: 60%;
   border: 2px solid #000000;
   border-radius: 15px; /* Adjust the border radius as needed */
   padding: 30px; /* Adjust the padding as needed */
   margin: auto; /*/* Adjust margin as needed */
  }
  
  
  .correct-container code {
   font-family: 'Orbitron', sans-serif; /* Change the font for the code */
   font-size: 40px; /* Adjust the font size as needed */
   color: green; /* Set the color for the code */
   font-weight: bold;
   
  
  }
  
  .next-btn {
   font-family: 'Orbitron', sans-serif;
   font-weight: bold;
   background-color: #6AFF79;
   color: #000000;
   padding: 15px 70px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   font-size: 20px;
   transition: background-color 0.3s ease;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 40px; /* Adjust margin as needed */
   margin-left: 45vh; 
  }
  
  .next-btn:hover {
   background-color: #ffffff;
  }
  
  .additional-info2 {
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   position: absolute;
   margin-top: -5vh; /* Adjust margin as needed */
   font-size: 15px; /* Adjust font size as needed */
   text-align: justify; /* Align text to the center */
   margin-left: 30px;
  }
  
  #incorrect {
   display: none;
   position: fixed;
   margin-left: 20vh;   
   width: 58%;
   max-width: 800px;
   height: 68vh; 
   position: fixed; 
   border-radius: 35px;
   border: 0.1px solid #FFDCDC;
   background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);
   box-shadow: 15px 18px 2px rgba(0, 0, 0, 0.5), -15px 18px 2px rgba(0, 0, 0, 0.6); 
   backdrop-filter: blur(3px);  
   z-index: 1;  
  }
  
  
  #incorrect h2 {
   font-family: 'Poppins', sans-serif; /* Change to your desired font family */
   font-size: 40px; /* Adjust the font size as needed / / Adjust the font weight as needed */
   margin-top: 88px;
   color: red; /* Adjust the color as needed */
   margin-left: 36vh;
  
  }
  
  .incorrect-ans {
   text-align: center;
   background-color: white; /* Set the background color for the code container */
   width: 60%;
   border: 2px solid #000000;
   border-radius: 15px; /* Adjust the border radius as needed */
   padding: 30px; /* Adjust the padding as needed */
   margin: auto; /*/* Adjust margin as needed */
  }
  
  
  .incorrect-ans code {
   font-family: 'Orbitron', sans-serif; /* Change the font for the code */
   font-size: 40px; /* Adjust the font size as needed */
   color: red; /* Set the color for the code */
   font-weight: bold;
  
  }
  
  .skip-btn {
   font-family: 'Orbitron', sans-serif;
   font-weight: bold;
   background-color: #2BA5F7;
   color: #000000;
   padding: 15px 70px;
   border: none;
   border-radius: 30px;
   cursor: pointer;
   font-size: 20px;
   transition: background-color 0.3s ease;
   box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
   margin-top: 40px; /* Adjust margin as needed */
   margin-left: 45vh; 
  }
  
  .skip-btn:hover {
   background-color: green;
  }
  
  .additional-info3 {
   font-family: 'Poppins', sans-serif;
   color: #ffffff;
   position: absolute;
   margin-top: -5vh; /* Adjust margin as needed */
   font-size: 15px; /* Adjust font size as needed */
   text-align: justify; /* Align text to the center */
   margin-left: 60px;
  }