* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
  }

      :root{ /*---font and color defaults --*/
        --bg-color: #fff;
        --text-color: #221341;
        --second-color: #5a7184;
        --main-color: #6e54fa;
        --big-font: 6rem;
        --h2-font: 1.1rem;
        --p-font: 1rem;
    }  

      header {  
        padding: 20px 2%;  
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        height: 90px;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: linear-gradient(180deg, #1E1E1E 0%, #4C195E 100%);
  
    }
  

    /*
    .sticky {
        background: var(--bg-color);
        padding: 10px 5%;
        box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    }
    
    .sticky #back-btn {
        color: var(--text-color);
    }
    
    .sticky #menu-icon {
        color: var(--text-color);
    }
    */

    .user input {
      margin-left: 0;
      text-indent: 10px;
      height: 35px;
      max-width: 250px;
      background-color: #ebebeb;
      border: none;
      border-radius: 10px;
      font-size: var(--p-font);
    }

    .user input:focus{
      background-color: var(--bg-color);
    }

    .logo img{
      margin-top: 5px;
      border-radius: 100%;
      width: 50px;
      height: 50px;
    }
  
      #menu-icon {  
        color: var(--bg-color);
        font-size: 40px;
        cursor: pointer;
        display: none;
    }     
    
    #filter, #notif{
        color: var(--bg-color);
        font-size: 40px;
        cursor: pointer;
        display: block;
        position: relative;
    }

    /* filter modal container*/
    #filterModal, #notifModal {
      display: none; /* Hidden by default */
      position: fixed;
      z-index: 1; /* Sit on top */
    }

    /*
    .filter-content{  
      position: absolute;
      overflow: auto; 
      display: block;
      margin-left: 20px;  
      background-color: #BABABA;
      padding: 10px;      
      border-width: 10px;
      border-style:solid;
      border-bottom-style: none;
      border-right-style: none;
      border-color: dodgerblue #000 transparent transparent ;  
    }

    .filter-content a { 
      text-align: center;
      padding: 10px;  
      margin: 10px;  
      font-size: var(--p-font);
      color: #000;

    }
*/


    /* The Close Button 
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

*/

    .right-btn {
      align-items: center;
      display: flex;
    }

    .right-btn a {
      margin-left: 10px;
    }

/* ------  Notification Dropdown --------  */

.notif-content{  
  width: 250px;
  top: 90px;
  right: 0;
  position: fixed;
  overflow: auto; 
  margin-left: 20px;  
  background-color: #BABABA;
  padding: 10px;      
  
}

.notif-content h2 { 
  text-align: center; 
  font-size: var(--h2-font);
  color: #000;

}

  .indicator {
  content: '';
  position: absolute;
  top: 5px;
  right: 4px;
  display: inline-block;
  width: 30%;
  height: 30%;
  border-radius: 100%;
  background-color: #ef172c;
  animation: 1.5s infinite beatHeart;
  transform-origin: center;
  }
  
  @keyframes beatHeart {
  0% {
      transform: scale(0.9);
  }
  25% {
      transform: scale(1.1);
  }
  40% {
      transform: scale(0.9);
  }
  60% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(0.9);
  }
  }


  
  .user ul {
    align-items: center;
    display: flex;
  }

  .user ul li {
    margin-right: 10px;
  }
  
      .navbar {
        position: absolute;
        top: 0;
        right: -100%;
        width: 40%;
        height: 100vh;
        background: #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 60px 0%;
        transition: 0.5s all;
    }
  
      .open {
        right: 0;
    }
  
      .list {
        width: 50%;
        margin-top: 100px;     
    }

    .profile button{
      display: flex;
      color: var(--bg-color);
      border-style: unset;
      background: transparent;
      cursor: pointer;
      align-items: center;
      text-align: left;
}

    .profile h3{
      margin-left: 10px;
      white-space: nowrap; 
      overflow: hidden;
      max-width: 300px;
      text-overflow: ellipsis; 
      scroll-behavior: unset;
    }

    .avatar{
      width: 40px;
      height: 40px;
      border-radius: 50%;
}


  
 /*------------------MAIN------------------------*/


/*
    @keyframes animateBackground {
        0% {
          background-position: 0 0;
        }
        100% {
          background-position: 100% 100%;
        }
      }
      */

  .main-content {
    margin-left: auto;
    margin-right: auto;
    top: 90px;
    width: 100%;
    height: 100vh;
    background: var(--bg-color);
    position: relative;
	  align-items: center;
    background-size: cover;
  }

  /*
  .subheader {
    position: relative;
    border-radius: 20px 20px 0px 0px ;
    background-color: var(--main-color);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
  }
  */


/*contents-----------------*/

  .contents {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: left;
  }

  .feed {
    margin-left: 20%;
    width: 100%;
    position: relative;
    padding: 15px 10%;
    color: #020202;
  }

  .writeout {
    padding: 5px 10px;
    height: 70px;
    width: 100%;
    background-color: #F3F3F3;
    border-radius: 15px;
  }

  .writein {
    margin-top: 5px;
    height: 50px;
    width: 100%;
    background-color: #CFCBCB;
    border-radius: 11px;
    overflow: hidden;
  }

  .writein a h2 {
    color: #5a7184;
    font-weight: 100;
    font-size: var(--h2-font);
    border-radius: 11px;
    padding: 15px 0 15px 5px;
  }

    .post {
      border-radius: 15px;
      background: #F3F3F3;
      border: 1px solid #ccc;
      margin: 20px auto;
      font-family: Arial, sans-serif;
      }
      
      .post-header {
      display: flex;
      padding: 15px;
      margin-bottom: 10px;
      }

      .profile-pic img{
        width: 50px;       
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
      }

      .post-info {
        width: 100%;
      }
      
      .post-info .first-name {
      display: flex;
      font-weight: 600;
      }

      .post-info .first-name a {
        font-size: var(--h2-font);
        color: #000;
        }

      .post-info .feelings {
        margin-left: 3px;
        font-weight: normal;
      }

      .post-info .feelings img {
          width: 15px;
          border-radius: 50%;
      }  
      
      .post-info .date {
        font-size: 0.8em;
        color: #777;
      }
      
      .post-setting a{
        float: right;
        font-size: 18px;
        color: #000;
        padding: 4px 8px;      
      }

      .post-setting a:hover{
        font-size: 18px;
        color: var(--bg-color);
        border-radius: 7px;
        background-color: #BABABA;
      }

      .post-content {
        margin-bottom: 15px;
      }

      .caption {
        font-size: var(--p-font);
        margin: 0px 15px 15px 15px;
      }

      .tags {
        margin-top: 30px;
      }

      .tags a {
        display: inline-block;
        background-color: var(--main-color);
        color: var(--bg-color);
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 3px;
        font-size: var(--p-font);
    }
    
    .tags a:hover {
        background-color: #0056b3;
    }

    .code-snippet {
      margin: 0 15px 15px 15px;
    }

    .code-snippet .code-name {
      padding: 5px;
      background: var(--second-color);
    }

    .code-snippet .code-name p{
      color: var(--bg-color);
      font-size: var(--p-font);
    }

    .code-snippet pre {
        background-color: #323232;
        border-left: 3px solid var(--main-color);
        color: #BABABA;
        page-break-inside: avoid;
        font-family: monospace;
        font-size: var(--p-font);
        line-height: 1.6;
        max-width: 100%;
        max-height: 30vh;
        overflow: auto;
        padding: 1em 1.5em;
        display: block;
        word-wrap: break-word;
    }
    
    .code-snippet pre code {
        background-color: #323232; 
        font-family: monospace; 
    
    }
 
    .image-gallery {
        background: #F3F3F3;
        display: flex;
        flex-wrap: wrap;
        gap: 5px; /* Adjust the gap as needed */
    }
    
    .image-gallery img {
        flex: 1 1 50px; /* Adjust basis as needed */
        width: 20%; /* Makes image responsive */
        height: auto; /* Maintain aspect ratio */
        cursor: pointer;
    }
      
      .line {
        margin: 0 15px;
      }

      .post-footer{
        padding: 10px;
        justify-content: space-around;
        display: flex;
      }

      .footer-btn {
        width: 95%;
        padding: 5px 5%;
        justify-content: center;
        display: flex;
      }

      .footer-btn:hover {
        cursor: pointer;
        background-color: #afafaf;
        border-radius: 5px;
      
      }

      .footer-btn a i{
        margin: 2px 5px 0 0;
        font-size: var(--p-font);
        color: #000;
      }

      .main-comment-sec {
        display: block;
      }

      .comment-sec {
        margin-bottom: 15px;
        margin-right: 5px;
        padding-bottom: 20px;

        overflow-y: auto;
        max-height: 500px;
      }

      .comment-body {
        margin: 20px 10px 0 15px;
        display: block;
        }

        .reply-comment-body {
          margin: 0 0 0 30px;
          display: block;
          }

          /*
        .comment-body:nth-child(1) {
          padding: 0px 0px 0px 15px;
          }

          .comment-body:last-child {
            margin: 0px 0px 50px 15px;
            }
            */

        .user-comment, .reply-comment {
          display: flex;
        }
        

        .filter-comment {
          height: 35px;
          padding: 5px 0 0 0;
        }
  
        .filter-comment a {
          float: right;
          font-size: 14px;
          color: #000;
          margin: 0 15px 0 0;
          padding: 4px 8px;      
        }
  
        .filter-comment a:hover{
          font-size: 14px;
          color: var(--bg-color);
          border-radius: 5px;
          background-color: #BABABA;
        }

        .comment-container, .reply-container {
          width: fit-content;
          padding: 3px 15px 10px 15px;
          border-radius: 15px;
          background-color: #BABABA;
        }  

        .comment-container .fullname h2, .reply-container .fullname h2{
          margin-bottom: 3px;
        }       


        .comment-container .fullname a, .reply-container .fullname a{
          font-size: var(--h2-font);
          font-weight: bold;
          color: #000;
        }

        .comment-container .fullname #author, .reply-container .fullname #author {
          margin-left: 3px;
          padding: 3px;
          background-color: var(--second-color);
          color: var(--bg-color);
          border-radius: 5px;
          font-size: 11px;
        }

        .comment {
          font-size: var(--p-font);
          
        }

        .comment-pic {
          display: flex;
        }

        .comment-pic img{
          border-radius: 5px;
          margin: 10px auto 0 auto;
          max-width: 100%;
          max-height: 350px;
        }

        .comment-footer {
          margin: 0 0 30px 65px;

        }

        .comment-footer a {
          margin: 5px 10px 0 0;
          float: left;
          font-size: 12px;
          color: var(--second-color);
        }

        .comment-footer a:hover {
          font-weight: 600;
          color: var(--main-color);
          text-decoration: underline;
        }

        .comment-setting {
          margin: 3px 0 0 10px;
        }

        .comment-setting a {
          font-size: 15px;
          color: #000;
          padding: 4px 8px;      
        }
  
        .comment-setting a:hover {
          color: var(--bg-color);
          border-radius: 7px;
          background-color: #BABABA;
        }




/*-------------- content2 -------*/

 .content2 {
  background-color: var(--bg-color);
  left: 0;
  position: fixed;
  width: 20%;
  height: 100vh;
 }

.content2.active { 
  position: fixed; 
  height: 100vh;
}

.sidebar {
  height: 86vh;
  overflow: auto;
}

 ul { 
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.main-menu > li {
  position: relative;
}

.main-menu li a {
  display: block;
  padding: 15px 10px;
  text-decoration: none;
  color: black;
}

/* Styles for the dropdown menu */
.dropdown-content {
  border-left: solid;
  margin: 0 0 0 5px;
  list-style-type: none;
  padding: 0;
  position: relative;
  z-index: 1;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  overflow: hidden;
}

.dropdown-content.show {
  max-height: 500px; /* Set to max possible height of dropdown content */
}

.dropdown-content li a {
  padding: 10px;
  display: block;
  background-color: #f9f9f9;
  color: black;
}

.main-menu div hr{
  margin: 0px 10px 0 5px;
}

.dropdown-content li:nth-child(1) {
  display: contents;
}


/*------------profile section */




 /* ----------------------------------------
 
 .user {
    margin: 10px 2%;
    width: 80%;
    display: flex;
  }

  .search {
    display: flex;
    margin: 10px;
  }

  .search input {
    text-indent: 10px;
    height: 30px;
    width: 250px;
    background-color: #b3b2b6;
    border: none;
    border-radius: 10px;
    font-size: var(--p-font);
    margin-right: 10px;
  }

  .search input:focus{
    background-color: #fff;
  }

  .search i {
    font-size: 30px;
    color: #ffffff;
    cursor: pointer;
  }

  .user a img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    cursor: pointer;
    border:  solid 0,5px;
  }

  .notif{
    margin: 10px;
  }


  /*------------------RESPONSIVENESS------------------------*/
  @media (max-width: 1300px) {
    :root {
      --big-font: 4.5rem;
      --h2-font: 1.1rem;
      --p-font: 1.1rem;
      transition: .2s;
    }
  }

  @media (max-width: 1060px) {

    #menu-icon {
      display: block;
  } 

  .feed {
    margin-left: 0;
  }

  .content2 {
    width: 0;
  }

  .content2.active {
    width: 25%;
  }
 

  }



  @media(max-width:860px) {
    #menu-icon {
      display: block;
  } 

  .feed {
    margin-left: 0;
  }

  .content2 {
    width: 0;
  }

  .content2.active {
    width: 25%;
  }
 
  .sidebar {
    height: 100vh;
  }

  }

  @media(max-width:540px) {

    :root{ /*---font and color defaults --*/
      --big-font: 6rem;
      --h2-font: 1rem;
      --p-font: 1rem;
      transition: .2s;
  }  


  header {  
    height: 60px;
}

 .main-content {
  top: 60px;
 }

  #menu-icon {  
    font-size: 30px;
}     

  #filter, #notif{
    font-size: 30px;
  }

  .avatar{
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

    .user input {
      height: 25px;
      max-width: 150px;
    }

  .content2.active {
    width: 50%;
  }

  .writeout {
    padding: 5px 10px;
    border-radius: 0px;
  }

  .writein {
    border-radius: 0px;

  }

  .feed {
    padding: 15px 0px;
  }

  .post {
    border: none;
    border-radius: 0px;
    }  

    .profile-pic img {
      width: 35px;
      height: 35px;
    }

    .logo img {
      width: 35px;
      height: 35px;
    }

    .comment-pic img{
      border-radius: 5px;
      margin: 10px auto 0 auto;
      max-width: 100%;
      max-height: 350px;
    }

    .comment-container .fullname h2, .reply-container .fullname h2{
      margin-bottom: 7px;
      line-height: 0.8;
    }


  }


  @media(max-width:360px) {

    :root{ /*---font and color defaults --*/
      --big-font: 6rem;
      --h2-font: 1rem;
      --p-font: .9rem;
      transition: .2s;
  }  


  }

  @media(max-width:280px) {

    :root{ /*---font and color defaults --*/
      --big-font: 6rem;
      --h2-font: .9rem;
      --p-font: 0.8rem;
      transition: .2s;
  }  

  #menu-icon {  
    font-size: 25px;

}     

  #filter, #notif{
      font-size: 25px;

  }

  .avatar{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}

    .user input {
      max-width: 100px;
    }

    .profile-pic img {
      width: 30px;
      height: 30px;
    }

    .logo img {
      width: 30px;
      height: 30px;
    }

    .sidebar {
      height: 90vh;
    }

  }




  @media (min-width: 860px) {


    .content2.active {
      width: 20%;
    }

    }  
    
    @media (min-width: 1300px) {

    }


    