   /* Reset and basic styling */
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    list-style: none;
}

  :root{ /*---font and color defaults --*/
    --bg-color: #fff;
    --text-color: #221341;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

  .space-background {
    width: 90%;
    height: 80vh; 
    position: fixed; 
    border-radius: 35.066px;
    border: 1px solid #FFDCDC;
    background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);
    backdrop-filter: blur(6px);  
    overflow: hidden;
  
  }

    /*----------- Content Section------------ */

    
.sidenav {
    box-sizing: inherit;
    scroll-behavior: smooth;
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    padding-top: 20px;
    color: #818181;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: scroll;
    padding-bottom: 40px;

}

.sidenav h2{
  padding-left: 20px;
}

.sidenav a {
    font-size: var(--p-font);
    padding: 10px 10%;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #000;
    color: #f1f1f1;
}

.sidenav a.active {

  background-color: #92319A!important;
  color: #fff!important;
}
.photo-container {
  text-align: left; 
  margin-bottom: x20px; 
}

.photo-container img {
  max-width: 100%; 
  height: 100%; 
}

.code-container {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto; 
  max-width: 800px;
  margin: 0 auto;   
}

pre {
  margin: 0;
}


.content {
    height: 100%;
    overflow-y: scroll;
    line-height: 1.5;
    margin-left: 300px;
    padding: 16px;
}

#main{
  display: block;
  box-sizing: inherit;
  float: left;
  padding: 16px 32px 32px 32px;
}



    /*----------- Responsiveness------------ */


@media (max-width: 1300px) {
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }
}

@media (max-width: 540px) {

  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    --p-font: 0.8rem;
    transition: .2s;
  }


  body {
    padding: 80px 0%;
    animation: paused;
  }

  .space-background {
    border-radius: 0px;
    width: 90%;
    height: 80vh; 
  }

}


@media (max-width: 376px) {
  body {
    padding: 80px 0%;
    animation: paused;
  }

  .space-background {
    border-radius: 0px;
    width: 90%;
    height: 80vh; 
  }

  :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }
}


@media (max-width: 280px) {
  body {
    padding: 80px 0%;
    animation: paused;
  }

  :root {
    --big-font: 2.5rem;
    --h2-font: 1.3rem;
    transition: .2s;
  }
}


@media (min-height: 1024px) {
  body {
    animation: paused;
  }

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }
}