   /* Reset and basic styling */
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{ /*---font and color defaults --*/
  --bg-color: #210535;
  --main-color: #f5d5e0;
  --text-color: #430d4b;
  --second-color: #7b337d;
  --high-color: #c874b2;
  --big-font: 3rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
  --font1: 'Orbitron';
  --font2: Helvetica;
  transition: .2s;
}

  .space-background {
    top: 10vh;
    left: 250px;
    width: calc(100% - 250px);
    background-color: #FFFFFF;
    height: 90vh;
    display: block;
    position: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #content {
    position: absolute;
    width: 100%;
    display: block;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #main {
    font-family: var(--font2);
    padding: 70px 20px 50px 50px;
    display: block;
    text-align: left;
  }

  #main p {
    margin-bottom: 3px;
    font-size: var(--p-font);
    font-family: var(--font2);
    color: #000;
  }

  

    /*----------- Content Section------------ */
    #btn {
      position: fixed;
      top: 11vh;
      left: 210px;
      color: var(--bg-color);
      font-size: 30px;
      z-index: 10001;
      cursor: pointer;
      display: block;
    }
    
.sidenav {
  font-family: var(--font1);
    scroll-behavior: smooth;
    height: 90vh;
    width: 250px;
    position: absolute;
    top: 10vh;
    left: 0;
    background-color: var(--text-color);
    padding-top: 20px;
    color: var(--main-color);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 40px;
    z-index: 1;

}

.sidenav.active ~ .space-background {
  left: 0;
  width: calc(100% - 0%);
}

.sidenav.active {
  position: fixed;
  width: 0%;
}

.sidenav.active #btn{
  left: 11px;
  
}


.sidenav h2{
  padding: 15px 5px 2px 10px;
  font-size: var(--p-font);
}

.sidenav a {
    font-size: var(--p-font);
    padding: 5px 0px 5px 20px;
    text-decoration: none;
    color: var(--main-color);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: var(--second-color);
    color: var(--main-color);
}

.sidenav a.active {

  background-color: #92319A!important;
  color: #fff!important;
}
.photo-container {
  text-align: left; 
  margin-bottom: x20px; 
}


.photo-container img {
  max-width: 100%; 
  height: 100%; 
}

pre {
  background-color: #1a1a1a;
  overflow-x: auto;
  color: #FFFFFF;
  font-size: var(--p-font);
  margin-top: 5px;
  padding: 20px 30px 20px 30px;
}

.content h2 {
  font-size: var(--p-font);
}

.content button {
  border: none;
  padding: 0;
  box-sizing: border-box;
}

.content button a {
  border-radius: 5px;
  padding: 10px 5px;
  font-size: var(--p-font);
  color: var(--main-color);
  background-color: var(--second-color);
}




    /*----------- Responsiveness------------ */


@media (max-width: 1300px) {
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }
}

@media (max-width: 540px) {

  :root {
    --big-font: 2.8rem;
    --h2-font: 1.5rem;
    --p-font: 1.1rem;
    transition: .2s;
  }

  #btn {
    position: fixed;
    top: 11vh;
    left: 11px;
  }
  
.sidenav {
  height: 90vh;
  width: 0;
  position: absolute;
  top: 10vh;
  left: 0;
  z-index: 1;
}

.space-background {
  left: 0;
  width: calc(100% - 0px);

}

.sidenav.active ~ .space-background {
left: 0;
width: calc(100% - 0);
}

.sidenav.active {
position: fixed;
width: 250px;
}

.sidenav.active #btn{
left:260px;

}



}


@media (max-width: 376px) {


  :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }
}


@media (max-width: 280px) {
  body {
    padding: 80px 0%;
    animation: paused;
  }

 :root {
    --big-font: 2.5rem;
    --h2-font: 1.3rem;
    transition: .2s;
  }
}


@media (min-height: 1024px) {
  body {
    animation: paused;
  }

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }
}