
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    :root{ /*---font and color defaults --*/
        --bg-color: #210535;
        --main-color: #f5d5e0;
        --text-color: #430d4b;
        --second-color: #7b337d;
        --high-color: #c874b2;
        --big-font: 3rem;
        --h2-font: 1.5rem;
        --p-font: 1rem;
        --font1: 'Orbitron';
        --font2: Helvetica;
        transition: .2s;
    }

    body {
        padding: 100px;
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Use full viewport height */
        margin: 0; /* Remove default body margin */
        background-size: cover;
        animation: animateBackground 20s linear infinite; /* Adjust as needed */
          }
          @keyframes animateBackground {
            0% {
              background-position: 0 0;
            }
            100% {
              background-position: 100% 100%;
            }
          }


    .logo {
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .logo img{

        width: 55%;
        border-radius: 50%;
        box-shadow: -2px 2px var(--bg-color);
        backdrop-filter: blur(6px);
    }

    .space-background {
        width: 45%;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 35.066px;
        background: var(--main-color);
        backdrop-filter: blur(6px);

    }

/*----------- Content Section------------ */
    form {
        padding: 15px 20px;
        text-align: right;
        align-content: center;
        align-items: center;
        justify-content: center;

    }

    .alert {
        width: 50%;
        position: absolute;
        top: 30px;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: #ee0505; /* Adjust the background color as needed */
        color: var(--main-color); /* Adjust the text color as needed */
        box-shadow: 1px 2px var(--bg-color);
        z-index: 1;
    }

    .alert.alert-error {
        color: var(--text-color);
        background-color: var(--main-color); /* Adjust the error message color as needed */
    }


    .head {
        align-items: center;
        display: flex;
        justify-content: space-between;
    }

    #back-btn {
        margin-left: -10px;
        color: var(--second-color);
        cursor: pointer;
    }

    #back-btn i {
        font-size: var(--big-font);
    }

    #back-btn:hover {
        color: var(--text-color);
    }

    .title{
        display: flex;
        align-items: center;
        font-family: var(--font1);
        color: var(--text-color);
        padding: 15px 0;
        text-align: justify;
    }

    .title h2 {
        font-size: var(--h2-font);
    }

    .title p {
        margin-left: 5px;
        font-size: var(--p-font);
    }

    .typeinput {
        font-family: var(--font2);
        display: flex;
        padding: 5px 0;
    }

    .typeinput input{
        background: var(--main-color);
        border-style: none;
        text-indent: 7px;
        border-radius: 5px;
        border-style: solid;
        width: 100%;
        height: 40px;
        font-size: var(--p-font);
        font-weight: 600;
        color: var(--bg-color);
    }

    .typeinput input::placeholder {
        font-weight: 100;
        color: var(--text-color);
    }

    .typeinput .showhide {
        margin: 0 0px 0 10px;
        padding: 10px 15px;
        float: right;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
        background-color: var(--main-color);
        transition: ease 0.2s;
    }

    .showhide:hover {
        background: var(--second-color);
        color: var(--main-color);
    }

    .showhide img {
        width: 15px;
    }

    .logbutton {
        padding: 10px 0;
        text-align: center;
    }

    #login{
        border-style: none;
        font-size: var(--p-font);
        border-radius: 5px;
        background-color: var(--second-color);
        color: var(--main-color);
        width: 100%;
        height: 40px;
        font-weight: 600;
        transition: ease .2s;
    }

    #login:hover{
        background-color: var(--text-color);
        cursor: pointer;
    }

    .links {
        margin: 4px;
        display: flex;
        justify-content: space-between;
    }

    .remember-me {
        align-items: center;
        color: var(--text-color);
    }

    .remember-me label {
        font-size: var(--p-font);
    }

    .forgot a {
        font-size: var(--p-font);
        color: var(--text-color);
    }

    .forgot a:hover {
        text-decoration-line: underline;
        cursor: pointer;
    }

    .signing {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .signing p {
        margin-right: 7px;
        font-weight: 600;
        font-family: var(--font2);
        font-size: var(--p-font);
        color: var(--text-color);
    }

    .signing a {
        margin-top: -2px;
        color: var(--text-color);
        font-size: var(--p-font);
        font-weight: 500;
        font-style: italic;
        text-decoration: underline;
    }

/*-----------SIGNUP EXCUSIVE----------*/
.typeinput label #year{
    height: 40px;
    font-size: var(--p-font);
    border-radius: 5px;
    background-color: var(--main-color);
    border: solid 2px gray;
    cursor: pointer;
    color: var(--text-color);
}

/* Adjust the position of the error message */
#passwordError {
    color: var(--text-color);
    display: none;

}

/*-----------RESPONSIVENESS----------*/
@media (max-width: 1024px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 1.5rem;
        --p-font: 1rem;
    }

        .space-background {
            width: 90%;
        }

        .typeinput input {
            height: 35px;
        }

        #login {
            height: 35px;
        }

}

    @media (max-width: 540px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 2.2rem;
            --p-font: 1.1rem;
        }

    .logo {
        display: none;
    }

    .space-background {
        background: none;
        position: fixed;
        top: 0;
        width: 100%;
        border-radius: 0px;
    }

    .title {
        justify-content: center;
    }

    #back-btn {
        color: var(--text-color);
    }

    }

    @media (max-width: 376px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 2rem;
        --p-font: 1rem;
    }

    }


    @media (max-width: 280px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 1.8rem;
            --p-font: .9rem;
        }

        #back-btn {
            margin-left: -20px;
        }


    }


    @media (min-height: 1024px) {
        :root {
            --h2-font: 2.5rem;
            --p-font: 1.5rem;
        }

        .logo {
            display: none;
        }

        .typeinput input{
            height: 50px;
        }

        .logbutton #login {
            height: 50px;
        }

        .space-background {
            width: 80%;
        }


    }

    @media (min-height: 1400px) {
        :root {
            --h2-font: 3rem;
            --p-font: 2rem;
        }

        .logo {
            display: none;
        }

        .typeinput input{
            height: 70px;
        }

        .logbutton #login {
            height: 70px;
        }

        .space-background {
            width: 85%;
        }
    }

        .mobile-logo {
            display: none;
            justify-content: center;
            align-items: center;
            width: 100%; /* Ensures the div takes up full width */
      }

        .mobile-logo img {
            border-radius: 50%;
            width: 100px; /* Adjust as needed */
            height: 100px; /* Adjust as needed */
          }

        @media screen and (max-width: 600px) {
            .mobile-logo {
            display: flex;
            }
        }


