
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
    }

    :root{ /*---font and color defaults --*/
        --bg-color: #210535;
        --main-color: #f5d5e0;
        --text-color: #430d4b;
        --second-color: #7b337d;
        --high-color: #c874b2;
        --big-font: 3rem;
        --h2-font: 1.5rem;
        --p-font: 1rem;
        --font1: 'Orbitron';
        --font2: Helvetica;
        transition: .2s;
    }

    header {    
        padding: 20px 2%;
        position: fixed;
        top:0;
        right: 0;
        width: 100%;
        height: 10vh;
        z-index: 1000;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: transparent;
        }
    
        header.sticky {
          background-color: var(--main-color);
        }

        #back-btn {
        color: var(--second-color);
        font-size: 60px;
        z-index: 10001;
        cursor: pointer;
        display: block;
        }

    body {
        display: flex;
        justify-content: center; /* Center horizontally */
        align-items: center; /* Center vertically */
        height: 100vh; /* Use full viewport height */
        margin: 0; /* Remove default body margin */
        background-size: cover;
        object-fit: fit;
        animation: animateBackground 20s linear infinite; /* Adjust as needed */
          }
          @keyframes animateBackground {
            0% {
              background-position: 0 0;
            }
            100% {
              background-position: 100% 100%;
            }
          }


    .logo {
        align-items: center;
        align-content: center;
        justify-content: center;
    }

    .logo img{

        width: 55%;
        border-radius: 50%;
        box-shadow: 2px 4px var(--main-color);
        backdrop-filter: blur(6px);
    }

    .space-background {
        width: 45%;
        align-items: center;
        align-content: center;
        justify-content: center;
        border-radius: 35.066px;
        background: var(--bg-color);
        box-shadow: 2px 4px var(--main-color);
        backdrop-filter: blur(6px);

    }

/*----------- Content Section------------ */
    form {
        padding: 15px 30px;
        text-align: right;
        align-content: center;
        align-items: center;
        justify-content: center;

    }

    .mobile-logo {
        display: none;
        justify-content: center;
  }

    .mobile-logo img {
        border-radius: 50%;
        width: 100px; /* Adjust as needed */
        height: 100px; /* Adjust as needed */
    }


    .alert {
        width: 50%;
        position: absolute;
        top: 30px;
        right: 0;
        text-align: center;
        padding: 10px;
        background-color: #ee0505; /* Adjust the background color as needed */
        color: var(--main-color); /* Adjust the text color as needed */
        box-shadow: 1px 2px var(--bg-color);
        z-index: 1;
    }

    .alert.alert-error {
        color: var(--text-color);
        background-color: var(--main-color); /* Adjust the error message color as needed */
    }

    .title{
        display: flex;
        justify-content: left;
        align-items: center;
        font-family: var(--font1);
        color: var(--main-color);
        padding: 30px 0;
        text-align: justify;
    }

    .title h2 {
        font-size: var(--h2-font);
    }

    .title p {
        margin-left: 5px;
        font-size: var(--p-font);
    }

    .typeinput {
        font-family: var(--font2);
        display: flex;
        padding: 5px 0;
    }

    .typeinput input{
        background: none;
        border-style: none;
        text-indent: 7px    ;
        border-radius: 5px;
        border-style: solid;
        border-color: var(--second-color);
        width: 100%;
        height: 40px;
        font-size: var(--p-font);
        font-weight: 100;
        color: var(--high-color);
    }

    .typeinput input:focus {
        font-weight: 600;
        color: var(--main-color);
    }

    .typeinput .showhide {
        margin: 0 0px 0 10px;
        padding: 0px 15px;
        float: right;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
        background-color: var(--text-color);
        transition: ease 0.2s;
    }

    .showhide:hover {
        background: var(--second-color);
    }

    .showhide img {
        width: 15px;
    }

    .logbutton {
        padding: 10px 0;
        text-align: center;
    }

    .btns{
        border-style: none;
        font-size: var(--p-font);
        border-radius: 5px;
        background-color: var(--text-color);
        color: var(--second-color);
        width: 100%;
        height: 40px;
        font-weight: 600;
        transition: ease .2s;
    }

    .btns:hover{
        color: var(--main-color);
        background-color: var(--second-color);
        cursor: pointer;
    }

    .links {
        font-family: var(--font2);
        margin: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .remember-me {
        align-items: center;
        color: var(--high-color);
    }

    .remember-me label {
        font-size: var(--p-font);
    }

    .forgot a {
        font-size: var(--p-font);
        color: var(--high-color);
    }

    .forgot a:hover {
        text-decoration-line: underline;
        cursor: pointer;
    }

    .signing {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
    }

    .signing p {
        margin-right: 7px;
        font-weight: 600;
        font-family: var(--font2);
        font-size: var(--p-font);
        color: var(--high-color);
    }

    .signing a {
        margin-top: -2px;
        color: var(--main-color);
        font-size: var(--p-font);
        font-weight: 500;
        font-style: italic;
        text-decoration: underline;
    }

/*-----------SIGNUP EXCUSIVE----------*/
.typeinput label #year{
    padding: 5px;
    height: 40px;
    width: 200px;
    font-size: var(--p-font);
    border-radius: 5px;
    border-width: 2px;
    border-style: solid;
    border-color: var(--second-color);
    background-color: transparent;
    text-align: left;
    cursor: pointer;
    color: var(--high-color);
}

/* Adjust the position of the error message */
#passwordError {
    margin-left: 10px;
    color: var(--main-color);
    display: none;

}

.terms {
    display: block;
    text-align: left;
    font-family: var(--font2);
    padding: 10px 10px;
}

.terms input[type="checkbox"] {
    width: 13px;  /* or any size */
    height: 13px;
    margin-right: 5px;
  }

.terms label {
    color: var(--main-color);
    font-size: var(--p-font);
    text-align: left;
}

.terms a {
    color: var(--high-color);
    font-size: var(--p-font);
}

.terms span {
    color: #ee0505;
}


/*-----------RESPONSIVENESS----------*/
@media (max-width: 1300px) {
    header {
      padding: 17px 3%;
      transition: .2s;
    }
  
    :root {
      --h2-head: 2rem;
      --p-head: 1.5rem;
      transition: .2s;
    }

    .typeinput label #year{
        width: 140px;
    }

    .terms input[type="checkbox"] {
        width: 15px;
        height: 15px;  
    }
  
    }

@media (max-width: 1024px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 1.5rem;
        --p-font: 1rem;
    }

    .space-background {
        width: 70%;
    }

        .typeinput input {
            height: 35px;
        }

        .typeinput label #year{
            height: 35px;
        }

        .btns {
            height: 35px;
        }

        input[type="checkbox"] {
            width: 13px;
            height: 13px;
          }

}

@media (max-width: 860px) {
    :root {
      --h2-head: 1.5rem;
      --p-head: 1rem;
      transition: .2s;
    }

    .space-background {
        padding: 0;
        background: none;
        position: fixed;
        top: 0;
        width: 100%;
        height: 100vh;
        border-radius: 0px;
        overflow: hidden;
    }

    .logo {
        display: none;
    }

    .logo img {
        margin: 0;
        padding: 0;
    }

    .mobile-logo {
        display: flex;
        justify-content: center;
  }

    .typeinput label #year{
        width: 200px;
    }

    .btns{
        color: var(--main-color);
        background-color: var(--second-color);
        cursor: pointer;
    }
    
  }

    @media (max-width: 540px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 2.2rem;
            --p-font: 1.1rem;
        }

    .title {
        justify-content: center;
    }

    .typeinput label #year{
        width: 150px;
    }

    

    }

    @media (max-width: 376px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 2rem;
        --p-font: 1rem;
    }

    }


    @media (max-width: 280px) {
        :root{ /*---font and color defaults --*/
            --h2-font: 1.5rem;
            --p-font: .9rem;
        }

        form {
            padding: 15px 10px;
        }

        
        .typeinput label #year{
            width: 100px;
        }

    }

/*scrollable to maintain height*/
    @media (max-height: 645px) {

            .inputs {
                padding-right: 5px;
                max-height: 45vh;
                overflow-y: scroll;
            }

            ::-webkit-scrollbar {
                width: 12px;
            }

            ::-webkit-scrollbar-track {
                background: var(--text-color);
                border-radius: 15px; 
            }

            ::-webkit-scrollbar-thumb {
                background-color: var(--main-color);
                border-radius: 15px; 
            }
            
            body {
                padding: 50px;
            }
    

    }


    @media (min-height: 1024px) {
        :root {
            --h2-font: 2.5rem;
            --p-font: 1.5rem;
        }

        .logo {
            display: none;
        }

        .mobile-logo img {
            width: 150px; /* Adjust as needed */
            height: 150px; /* Adjust as needed */
        }

        #back-btn {
            font-size: 80px;
          }

        .typeinput input{
            height: 50px;
        }

        .typeinput label #year{
            height: 50px;
        }

        .logbutton .btns {
            height: 50px;
        }

        .space-background {
            background: transparent;
            width: 100%;
        }

        .mobile-logo {
            display: flex;
      }

      input[type="checkbox"] {
        width: 20px;
        height: 20px;
      }

      .btns{
        color: var(--main-color);
        background-color: var(--second-color);
        cursor: pointer;
    }

    }

    @media (min-height: 1300px) {
        :root {
            --h2-font: 3rem;
            --p-font: 2rem;
        }

        .space-background {
            padding: 0;
            position: fixed;
            top: 0;
            width: 100%;
            height: 100vh;
            border-radius: 0px;
        }

        #back-btn {
            font-size: 100px;
          }

        .logo {
            display: none;
        }

        .mobile-logo img {
            width: 200px; /* Adjust as needed */
            height: 200px; /* Adjust as needed */
        }

        .typeinput input{
            height: 70px;
        }

        .typeinput label #year{
            height: 70px;
        }

        .logbutton .btns {
            height: 70px;
        }

        input[type="checkbox"] {
            width: 25px;
            height: 25px;
          }


    }

