* {
  font-family: var(--font1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{ /*---font and color defaults --*/
  --bg-color: #210535;
  --main-color: #f5d5e0;
  --text-color: #430d4b;
  --second-color: #7b337d;
  --high-color: #c874b2;
  --big-font: 3rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
  --font1: 'Orbitron';
  --font2: Helvetica;
  transition: .2s;
}

body {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Use full viewport height */
  background-size: cover;
  animation: animateBackground 20s linear infinite; /* Adjust as needed */
    }
    @keyframes animateBackground {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: 100% 100%;
      }
    }

    .space-background {
      text-align: center;
      align-items: center;
      align-content: center;
      justify-content: center;
      border-radius: 35.066px;
      background: var(--main-color);
      overflow-y: auto;
      overflow-x: hidden;
    }

    /*----------- Content Section------------ */
    .title {
      padding: 20px;
      display: block;
      text-align: center;
      align-items: center;
    }

    .title h2{
      color: var(--text-color);
      font-size: var(--h2-font);
    }

  .content-section {
    margin: 30px;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.content-section a {
  margin: auto;
}

.content-section img {
  width: 250px;
  object-fit: cover;
}     