* {
   font-family: var(--font1);
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font-family: var(--font1);
 }
 
 :root{ /*---font and color defaults --*/
   --bg-color: #210535;
   --main-color: #f5d5e0;
   --text-color: #430d4b;
   --second-color: #7b337d;
   --high-color: #c874b2;
   --big-font: 3rem;
   --h2-font: 1.5rem;
   --p-font: 1rem;
   --font1: 'Orbitron';
   --font2: Helvetica;
   transition: .2s;
 }
 
 body {
   margin: auto;
   display: flex;
   justify-content: center; /* Center horizontally */
   align-items: center; /* Center vertically */
   min-height: 100vh; /* Use full viewport height */
   background-size: cover;
   animation: animateBackground 20s linear infinite; /* Adjust as needed */
     }
     @keyframes animateBackground {
       0% {
         background-position: 0 0;
       }
       100% {
         background-position: 100% 100%;
       }
     }
 
   .space-background { 
     margin: 20px;
     width: 80%;
     padding: 80px;
     position: relative; 
     border-radius: 35.066px;
     background: var(--main-color);  
   }
 
     /*----------- Content Section------------ */
     .title {
       position: relative;
       padding-bottom: 50px;
       width: 100%;
       height: 30px;
       display: flex;
       justify-content: center;
       align-items: center;
     }
     
     .title h2 {
      color: var(--text-color);
       font-size: var(--h2-font);
     }
 
   .content-section {
     align-items: center;
     align-content: center;
     display: block;
     text-align: center;
     margin: 0;
 }

 .top {
   display: flex;
   justify-content: space-between;
 }

 .details {
   display: block;
   align-items: center;
 }

 .contents {
  padding: 20px 0;
   text-align: left;
   display: flex;
   
 }

 .names {
  align-items: center;
  justify-content: center;
  display: inline-flex;
 }

 #Username {
   letter-spacing: 10px;
   font-weight: 800;
   font-size: var(--h2-font);
   color: var(--second-color);
 }

   #firstName {
    color: var(--text-color);
    letter-spacing: 5px;
    font-weight: 600;
    margin-right: 10px;
    font-size: var(--p-font);
   }

   
   #lastName {
    color: var(--text-color);
    letter-spacing: 5px;
    font-weight: 600;
    font-size: var(--p-font);
   }

 .contents img {
   margin-right: 10px;
   border-radius: 100%;
   width: 100px;
   height: 100px;
 }

 .others {
  padding: 10px 0;
  line-height: 15px;
  width: 100%;
  display: block;
 }

 .others p {
   color: var(--high-color);
   font-size: var(--p-font);
 }

 .Editprofile a {
  font-weight: 600;
  font-size: var(--p-font);
 }

 .bottom {
   padding-top: 20px;
   display: flex;
   justify-content: space-evenly;
 }

 
 .btns img {
   border-radius: 15px;
   height: 80px;
   width: 180px;
   background-size: cover;
   border: transparent;
}

.btns:hover {
   transform: scale(1.1);
   font-weight: bold;

}
 
      /* -------RESPONSIVENESS======= */
 @media (max-width: 1300px) {
   :root {
     --big-font: 4.5rem;
     --h2-font: 2.3rem;
     --p-font: 1rem;
     transition: .2s;
   }
 
   }
 
 @media (max-width: 860px) {
  body {
    margin-top: 10vh;
    overflow: hidden;
   }

  .space-background { 
    width: 100%;
    height: 100vh;
    position: fixed; 
    border-radius: 0;
    overflow-y: auto;
  }

  .title {
    width: 100%;
    height: 30px;
    display: flex;
  }

  .contents {
    text-align: center;
    margin: 0 20px;
    display: block;
  }

   .contents img {
   width: 70px;
   height: 70px;
 }

  .top {
    display: block;
  }

  .bottom {
    display: block;
    text-align: center;
  }
 
 }
 
 @media (max-width: 540px) {
   :root {
     --big-font: 2.8rem;
     --h2-font: 2rem;
     --p-font: 0.8rem;
     transition: .2s;
   }

   .contents {
    padding: 0;
  }

   .contents img {
    margin: 0;
   width: 70px;
   height: 70px;
 }

  .top {
    display: block;
  }

  .bottom {
    display: block;
    text-align: center;
  }

    #firstName, #lastName,
      #Username  {
    letter-spacing: normal;
  }
 
  .others {
    padding: 10px 0;
    line-height: normal;
   }

   .others p {
    word-break: break-all;
  }
 
 }

 
 @media (max-width: 376px) {
     :root {
     --big-font: 3.5rem;
     --h2-font: 1.5rem;
     transition: .2s;
   }

   .space-background { 
    margin: 20px;
    padding: 40px 0; 
  }
 
 }
 
 
 @media (max-width: 280px) {
     :root {
     --big-font: 3.5rem;
     --h2-font: 1.5rem;
     transition: .2s;
   }

   .space-background { 
    padding: 50px 0; 
  }



   
 
 }
 
 @media (min-height: 1024px) {
   :root {
     --big-font: 4.5rem;
     --h2-font: 2.5rem;
     --p-font: 1.5rem;
     transition: .2s;
 }
 body {
  margin-top: 10vh;
  overflow: hidden;
 }

 .space-background { 
  width: 100%;
  height: 100vh;
  position: fixed; 
  border-radius: 0;
  overflow-y: auto;
}

.title {
  width: 100%;
  height: 30px;
  align-items: center;
  justify-content: left;
}

   .contents {
    margin: 0 20px;
    text-align: left;
    display: flex;
  }

   .contents img {
   width: 100px;
   height: 100px;
 }

  .top {
    display: block;
  }

  .bottom {
    display: block;
    text-align: center;
  }

    #firstName, #lastName,
      #Username  {
    letter-spacing: normal;
  }
 
  .others {
    padding: 10px 0;
    line-height: normal;
   }

  .btns img {
    height: 120px;
    width: 220px;
 }
 


 
 }

 @media (min-height: 1300px) {
     :root {
       --big-font: 5rem;
       --h2-font: 2.5rem;
       --p-font: 1.5rem;
       transition: .2s;
   
   }
 

   }