   /* Reset and basic styling */
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{ /*---font and color defaults --*/
  --bg-color: #210535;
  --main-color: #f5d5e0;
  --text-color: #430d4b;
  --second-color: #7b337d;
  --high-color: #c874b2;
  --big-font: 3rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
  --font1: 'Orbitron';
  --font2: Helvetica;
  transition: .2s;
}

  .space-background {
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 80%;
    height: 80vh; 
    position: fixed;
    border-radius: 35.066px;
    border: 1px solid #FFDCDC;
    background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);
    backdrop-filter: blur(6px);  
  
  }

    /*----------- Content Section------------ */

    .title{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: var(--h2-font);
    color: var(--bg-color);
  }

  #subtitle{
    margin-bottom: 20px;
  }

  .content-section{ 
    height: 50vh;
    align-content: center;
    align-items: center;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}

  .content-container1{
    align-content: center;
    align-items: center;
    justify-content: center;
    display:grid;

}


#items {
  color: var(--bg-color);
  overflow: hidden;
  margin: 10px;
  border-radius: 30px;
  width: 300px;
  padding: 10px;
  font-size: 20px;
  background-color: #941764;
  transition: ease .40s;
}

#items:hover{
  transform: scale(1.1);
}

.no-hover {
  pointer-events: none;
}






@media (max-width: 1300px) {
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }
  

  }

@media (max-width: 1060px) {
#items{
width: 250px;
}


}

@media (max-width: 720px) {
  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    --p-font: 0.8rem;
    transition: .2s;
  }

  body {
      padding: 0px 0%;
      animation: paused;
  }

  .space-background {
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

  .content-section {
    display: inline-block;
}

.title{
  margin-top: 10%;
  margin-bottom: 10px;
}


}


@media (max-width: 530px) {
  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    --p-font: 0.8rem;
    transition: .2s;
  }

  body {
      padding: 0px 0%;
      animation: paused;
  }

  .space-background {
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

  .content-section {
    display: inline-block;
}

.title{
  margin-top: 20%;
}

#items{
  width: 250px;
}


}


@media (max-width: 376px) {
  .space-background {
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

  #logo{
    width: 150px;
  }

  #items{
    font-size: 20px;
    width: 200px;
  }
}


@media (max-width: 280px) {
    :root {
    --big-font: 2.5rem;
    --h2-font: 1.3rem;
    transition: .2s;
  }

}


@media (min-height: 1024px) {
.title{
  margin-top: 50px;
}

#logo{
  width: 300px;
}
  .content-section {
    display: inline;
}

.content-container1{
  margin: 40px;
}

:root {
  --big-font: 5rem;
  --h2-font: 2.5rem;
  --p-font: 1.5rem;
  transition: .2s;

}

.space-background {
  height: 85vh; 
}

}

@media (min-height: 1300px) {

.profile h2{
  width: 170px; 
}

.title{
margin-top: 50px;
}

#subtitle{
margin-bottom: 70px;
}

#logo{
width: 500px;
}


.content-section {
  display: inline;
}

.content-container1{
height: 20vh;
}

:root {
  --big-font: 5rem;
  --h2-font: 2.5rem;
  --p-font: 1.5rem;
  transition: .2s;

}

.space-background {
height: 90vh; 
}

}



