   /* Reset and basic styling */
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    list-style: none;
}

  :root{ /*---font and color defaults --*/
    --bg-color: #fff;
    --text-color: #221341;
    --second-color: #5a7184;
    --main-color: #6e54fa;
    --big-font: 6rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}

  header {    
    padding: 20px 2%;
    position: fixed;
    top:0;
    right: 0;
    width: 100%;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;

}

  #back-btn{
    color: var(--bg-color);
    font-size: 60px;
    z-index: 10001;
    cursor: pointer;
    display: block;
}

  .navbar a {
    color: var(--bg-color);
    font-size: var(--p-font);
    font-weight: 500;
    padding: 4px 15px;
    border-radius: 4px;
    transition: ease .40s;
    display: block;
    margin: 1.2rem 0;
}

  .navbar a:hover {
    background: var(--bg-color);
    color: var(--text-color);
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
    border-radius: 4px;
    transition: ease .40s;
}


  .profile button{
    display: flex;
    justify-content: center; /* Aligns content horizontally */
    align-items: center; /* Aligns content vertically */
    border: none; /* Remove button border */
    background: none; /* Transparent background */
    cursor: pointer;
    padding: 0;
    
    
    
}

.profile-link {
  text-decoration: none;
  color: inherit; /* Use the parent element's text color */
  display: flex;
  flex-direction: column; /* Stack items vertically */
  align-items: center;
}


  /* .profile h2{
    margin-left: 60px;
    height: 25px;
    width: 100px;
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: unset;
    margin: 0;
} */
h2 {
  margin: 0; /* Remove default margin */
  font-size: 16px; /* Allows the username to take remaining space */
}

  .avatar{
  width: 80px; /* Adjust the width as needed */
  height: 80px; /* Adjust the height as needed */
  border-radius: 50%; /* Makes the image round if needed */
  margin-bottom: 5px; 
    
}

  #menu-icon {
    color: var(--bg-color);
    font-size: 50px;
    z-index: 10001;
    cursor: pointer;
    display: block;
}

.logout-btn{
  margin-top: 20px;
  padding: 10px 10%;
  flex-shrink: 0;
  border-radius: 35.07px;
  background: #fa0404;
}

.logout-btn:hover{
    cursor: pointer;
    box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.logout-btn:active{
    background: var(--bg-color);
    color: var(--text-color);
}

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 25%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0%;
    transition: 0.5s all;
}

  .open {
    right: 0;
}

  .list {
    width: 50%;
    margin-top: 100px;     
}

  body {
    padding: 90px 10%;
    width: 100%;
    height: 100vh;
    background: url("backmenu.svg");
    color: var(--text-color);
    overflow-x: hidden; /* Prevent horizontal scrolling */
    z-index: -1; /* Behind other content */
    background-size: cover;
    animation: animateBackground 20s linear infinite; /* Adjust as needed */
}

  @keyframes animateBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
}

  .space-background { 
    width: 100%;
    height: 80vh; 
    padding: 100px 10%;
    position: relative; 
    border-radius: 35.066px;
    border: 1px solid #FFDCDC;
    background: radial-gradient(254.43% 143.73% at 6.62% 2.73%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0%, rgba(255, 182, 72, 0.56) 0.01%, rgba(53, 0, 62, 0.08) 100%);
    backdrop-filter: blur(6px);  
  
  }

    /*----------- Content Section------------ */

  .content-section {
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    text-align: center;
}

     /* -------Updated content container======= */


#playground{
  width: 300px;
}

#leaderboard{
  width: 300px;
}

#module{
  width: 300px;
}

#forum{
  width: 300px;
}


  .content-container1{
    transition: ease .40s;
}

  .content-container1:hover{
    transform: scale(1.1);
}

  .content-container2{
    transition: ease .40s;
}

  .content-container2:hover{
    transform: scale(1.1);
}

  .content-container3{
    transition: ease .40s;
}

  .content-container3:hover{
    transform: scale(1.1);
}

  .content-container4{
    transition: ease .40s;
}

  .content-container4:hover{
    transform: scale(1.1);
}

.no-hover {
  pointer-events: none;
}






@media (max-width: 1300px) {
  header {
    padding: 17px 3%;
    transition: .2s;
  }

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }

  .space-background { 
    padding: 160px 10%;
    transition: .2s;
  }


  }


@media (max-width: 1060px) {

  #menu-icon {
    display: block;
  }

  .space-background { 
    padding: 100px 10%;  
  
  }

}


@media (max-width: 540px) {

  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    --p-font: 0.8rem;
    transition: .2s;
  }


  body {
      padding: 0px 0%;
      animation: paused;
  }

  .space-background {
    padding: 90px 5%;
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0%;
    transition: 0.5s all;
}

  .open {
    right: 0;
}

  .list {
    width: 70%;
    margin-bottom: 12px;
}

  .content-section {
    grid-template-columns: repeat(1, 1fr);
}



#playground{
  width: 300px;
}

#leaderboard{
  width: 300px;
}

#module{
  width: 300px;
}

#forum{
  width: 300px;
}


}


@media (max-width: 376px) {
  body {
      animation: paused;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0%;
    transition: 0.5s all;
}

  .open {
    right: 0;
}

  .list {
    width: 70%;
    margin-bottom: 12px;
}

  .space-background {
    padding: 90px 5%;
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

  .content-section {
    grid-template-columns: repeat(1, 1fr);
}


#playground{
  width: 300px;
}

#leaderboard{
  width: 300px;
}

#module{
  width: 300px;
}

#forum{
  width: 300px;
}

    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

}


@media (max-width: 280px) {
  body {
      animation: paused;
  }

  .space-background {
    padding: 90px 5%;
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

  .content-section {
    grid-template-columns: repeat(1, 1fr);
}


#playground{
  width: 200px;
}

#leaderboard{
  width: 200px;
}

#module{
  width: 200px;
}

#forum{
  width: 200px;
}

    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

}


@media (min-height: 1024px) {
  body {
      padding: 120px 5%;
      animation: paused;
  }

  .navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 50%;
    height: 100vh;
    background: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0%;
    transition: 0.5s all;
}

  .open {
    right: 0;
}

  .list {
    width: 70%;
    margin-bottom: 12px;
}

  .space-background {
    padding: 60px 5%;
  }

  .content-section {
    grid-template-columns: repeat(1, 1fr);
}


#playground{
  width: 400px;
}

#leaderboard{
  width: 400px;
}

#module{
  width: 400px;
}

#forum{
  width: 400px;
}

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;

}

}


