* {
  font-family: var(--font1);
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{ /*---font and color defaults --*/
  --bg-color: #210535;
  --main-color: #f5d5e0;
  --text-color: #430d4b;
  --second-color: #7b337d;
  --high-color: #c874b2;
  --big-font: 3rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
  --font1: 'Orbitron';
  --font2: Helvetica;
  transition: .2s;
}

body {
display: flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
min-height: 100vh; /* Use full viewport height */
background-size: cover;
animation: animateBackground 20s linear infinite; /* Adjust as needed */
  }
  @keyframes animateBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .space-background {
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-radius: 35.066px;
    background: var(--main-color);
    overflow-y: auto;
    overflow-x: hidden;
  }

    /*----------- Content Section------------ */
    .title {
      padding: 20px;
      display: block;
      text-align: center;
      align-items: center;
    }
    
    .title h2{
      color: var(--text-color);
      font-size: var(--h2-font);
    }

  .content-section {
    justify-content: center;
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.content-section a {
  margin: auto;
}

.content-section img {
  width: 250px;
  object-fit: cover;
}
  



     /* -------RESPONSIVENESS======= */
@media (max-width: 1300px) {
  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }

  }

@media (max-width: 860px) {
  .space-background {
    background: none;
    padding: 0;
    position: fixed;
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
  }

  .content-section {
    grid-template-columns: repeat(1, 1fr);
}

}

@media (max-width: 540px) {
  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    --p-font: 0.8rem;
    transition: .2s;
  }


}

@media (max-width: 376px) {
    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

  .content-section img {
    width: 200px;
  }

}

@media (max-width: 280px) {
    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

}

@media (min-height: 1024px) {
.space-background {
  background: none;
  position: fixed;
  border-radius: 0px;
  width: 100%;
  height: 100vh; 
}

.content-section {
  grid-template-columns: repeat(1, 1fr);
}

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.5rem;
    --p-font: 1.5rem;
    transition: .2s;

}

.content-section img {
  width: 300px;
}

}

@media (min-height: 1300px) {
  :root {
    --big-font: 5rem;
    --h2-font: 2.5rem;
    --p-font: 1.5rem;
    transition: .2s;

}

.content-section img {
  width: 400px;
}


}
