   /* Reset and basic styling */
   * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
    list-style: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

:root{ /*---font and color defaults --*/
  --bg-color: #210535;
  --main-color: #f5d5e0;
  --text-color: #430d4b;
  --second-color: #7b337d;
  --high-color: #c874b2;
  --big-font: 3rem;
  --h2-font: 1.5rem;
  --p-font: 1rem;
  --font1: 'Orbitron';
  --font2: Helvetica;
  transition: .2s;
}

header {    
padding: 20px 2%;
position: fixed;
top:0;
right: 0;
width: 100%;
z-index: 1000;
display: flex;
align-items: center;
justify-content: space-between;
background-color: transparent;

}

#back-btn{
color: var(--bg-color);
font-size: 60px;
z-index: 10001;
cursor: pointer;
display: block;
}

.navbar a {
color: var(--bg-color);
font-size: var(--p-font);
font-weight: 500;
padding: 4px 15px;
border-radius: 4px;
transition: ease .40s;
display: block;
margin: 1.2rem 0;
}

.navbar a:hover {
background: var(--bg-color);
color: var(--text-color);
box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
border-radius: 4px;
transition: ease .40s;
}

.profile button{
display: flex;
justify-content: center; /* Aligns content horizontally */
align-items: center; /* Aligns content vertically */
border: none; /* Remove button border */
background: none; /* Transparent background */
cursor: pointer;
padding: 0;

}

.profile-link {
text-decoration: none;
color: inherit; /* Use the parent element's text color */
display: flex;
flex-direction: column; /* Stack items vertically */
align-items: center;
}

h2 {
margin: 0; /* Remove default margin */
font-size: 16px; /* Allows the username to take remaining space */
}

.avatar{
width: 80px; /* Adjust the width as needed */
height: 80px; /* Adjust the height as needed */
border-radius: 50%; /* Makes the image round if needed */
margin-bottom: 5px; 

}

#menu-icon {
color: var(--bg-color);
font-size: 50px;
z-index: 10001;
cursor: pointer;
display: block;
}

.logout-btn{
margin-top: 20px;
padding: 10px 10%;
flex-shrink: 0;
border-radius: 35.07px;
background: #fa0404;
}

.logout-btn:hover{
cursor: pointer;
box-shadow: 5px 10px 30px rgb(85 85 85 / 20%);
}

.logout-btn:active{
background: var(--bg-color);
color: var(--text-color);
}

.navbar {
position: absolute;
top: 0;
right: -100%;
width: 25%;
height: 100vh;
background: #000;
display: flex;
flex-direction: column;
align-items: center;
padding: 20px 0%;
transition: 0.5s all;
}

.open {
right: 0;
}

.list {
width: 50%;
margin-top: 100px;     
}

body {
margin: auto;
display: flex;
justify-content: center; /* Center horizontally */
align-items: center; /* Center vertically */
min-height: 100vh; /* Use full viewport height */
background-size: cover;
animation: animateBackground 20s linear infinite; /* Adjust as needed */
  }
  @keyframes animateBackground {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 100% 100%;
    }
  }

  .space-background { 
    width: 60%;
    padding: 80px;
    position: relative; 
    border-radius: 35.066px;
    background: var(--main-color);  
  }

    /*----------- Content Section------------ */

  .content-section {
    align-items: center;
    align-content: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    gap: 50px 200px;
}

  .content-section img {
    width: 100%;
    object-fit: cover;
  }
  



     /* -------RESPONSIVENESS======= */
@media (max-width: 1300px) {
  header {
    padding: 17px 3%;
    transition: .2s;
  }

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;
  }

  }


@media (max-width: 1024px) {

  #menu-icon {
    display: block;
  }

  .navbar {
    width: 45%;
  }

}

@media (max-width: 860px) {

  #menu-icon {
    display: block;
  }

  .space-background {
    padding: 100px;
    position: fixed;
    border-radius: 0px;
    width: 100%;
    height: 100vh; 
    overflow: scroll;
  }

  .content-section {
    grid-template-columns: repeat(1, 1fr);
}



}

@media (max-width: 540px) {

  :root {
    --big-font: 2.8rem;
    --h2-font: 2rem;
    --p-font: 0.8rem;
    transition: .2s;
  }

  .navbar {
    width: 70%;
}

.content-section img {
  width: 250px;
}

.space-background {
  padding: 90px 50px;
  overflow: scroll;
}

.content-section {
  gap: 50px;
}

.content-section img{
width: 100%;
height: auto;
}

}


@media (max-width: 376px) {

  .open {
    right: 0;
}

    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

  .space-background {
    padding: 90px 70px;
  }

  .content-section {
    gap: 20px;
}

}


@media (max-width: 280px) {
  .content-section {
    grid-template-columns: repeat(1, 1fr);
}

    :root {
    --big-font: 3.5rem;
    --h2-font: 1.5rem;
    transition: .2s;
  }

  .space-background {
    padding: 90px 40px;
  }

  .content-section {
    gap: 30px;
}

}


@media (min-height: 1024px) {

  .navbar {
    width: 50%
    
}

.space-background {
  padding: 150px;
  position: fixed;
  border-radius: 0px;
  width: 100%;
  height: 100vh; 
  overflow: scroll;
}

.content-section {
  grid-template-columns: repeat(1, 1fr);
}

  :root {
    --big-font: 4.5rem;
    --h2-font: 2.3rem;
    --p-font: 1rem;
    transition: .2s;

}

}




