* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{ /*---font and color defaults --*/
    --bg-color: #210535;
    --main-color: #f5d5e0;
    --text-color: #430d4b;
    --second-color: #7b337d;
    --high-color: #c874b2;
    --big-font: 3rem;
    --h2-font: 1.5rem;
    --p-font: 1rem;
    --font1: 'Orbitron';
    --font2: Helvetica;
    transition: .2s;

}

.user {
    cursor: pointer;
}

    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        background-color: rgb(12,05,35); /* Fallback color */
        background-color: rgba(12,05,35,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.user-content {
    position: fixed;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 15px;
    background-color: var(--main-color);
    padding: 20px;
}

.user-content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
}

.user-content .head h2{
    font-family: var(--font1);
    font-size: var(--h2-font);
    color: var(--second-color);
}

.user-content .close {
    text-decoration: none;
    font-weight: 600;
    color: var(--high-color);
    font-size: 30px;
    font-weight: bold;
}

.user-content .close:hover,
.user-content .close:focus {
    color: var(--bg-color);
    text-decoration: none;
    cursor: pointer;
}

.user-content .image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px 0;
}

.user-content .image-container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.user-content .typeinput {
    text-align: center;
    font-family: var(--font2);
    display: block;
    justify-content: center;
}

.user-content .typeinput label {
    font-weight: 800;
    font-size: var(--p-font);
    color: var(--text-color);
    
 }

.user-content .typeinput h2 {
    color: var(--second-color);
    font-size: var(--p-font);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-content .typeinput input:focus {
    border: none;
}



/*admin-content*/

/* Modal Content/Box */
.admin-content, .create-admin  {
    position: fixed;
    margin: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    border-radius: 15px;
    background-color: var(--text-color);
    padding: 20px;
}

.admin-content .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
}

.admin-content .head h2{
    font-family: var(--font1);
    font-size: var(--h2-font);
    color: var(--main-color);
}

.admin-content .head .close {
    text-decoration: none;
    font-weight: 600;
    color: var(--high-color);
    font-size: 30px;
    font-weight: bold;
}

.admin-content .head .close:hover,
.admin-content .head .close:focus {
    color: var(--second-color);
    text-decoration: none;
    cursor: pointer;
}

.admin-content .profile-image {
    position: absolute;   
    display: none;
    }

.admin-content .image-container {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    display: flex;
    margin: 10px auto;
    justify-content: center;

}

.admin-content .image-container img {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.admin-content .typeinput {
    text-align: left;
    font-family: var(--font2);
    display: block;
    justify-content: center;
}

.admin-content  .typeinput label {
    font-weight: 600;
    font-size: var(--p-font);
    color: var(--second-color);
    
 }

.admin-content  .typeinput h2 {
    color: var(--second-color);
    font-size: var(--p-font);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 35px; 
 }

.admin-content .typeinput button {
    cursor: pointer;
    font-weight: 600;
    border-radius: 5px;
    color: var(--main-color);
    background: var(--second-color);
    font-size: var(--p-font);
    width: 100%;
    text-align: center;
    border: none;
    height: 45px;
}

.admin-content .typeinput input {
    background: var(--text-color);
    border-style: solid;
    border-width: 2px;
    border-color: var(--second-color);
    border-radius: 5px;
    color: var(--high-color);
    font-size: var(--p-font);
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px; 
    font-weight: 100;
    margin-top: 2px;
    padding: 5px;
}

.admin-content .typeinput input:focus {
    font-weight: 600;
    color: var(--main-color);
}

/*admin-register and change pass css*/
.create-admin .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 10px 0;
}

.create-admin .head h2 {
    visibility: hidden;
}

.create-admin .head .close {
    text-decoration: none;
    font-weight: 600;
    color: var(--high-color);
    font-size: 30px;
    font-weight: bold;
}

.create-admin .head .close:hover,
.create-admin .head .close:focus {
    color: var(--second-color);
    text-decoration: none;
    cursor: pointer;    
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    border-radius: 100%;
    width: 100px; /* Adjust as needed */
    height: 100px; /* Adjust as needed */
    object-fit: cover;
}

.title{
    display: flex;
    justify-content: left;
    align-items: center;
    font-family: var(--font1);
    color: var(--main-color);
    padding: 10px 0;
    text-align: justify;
}

.title h2 {
    font-size: var(--h2-font);
}

.title p {
    margin-left: 5px;
    font-size: var(--p-font);
}

.alert {
    width: 50%;
    position: absolute;
    top: 30px;
    right: 0;
    text-align: center;
    padding: 10px;
    background-color: #ee0505; /* Adjust the background color as needed */
    color: var(--main-color); /* Adjust the text color as needed */
    box-shadow: 1px 2px var(--bg-color);
    z-index: 1;
}

.alert.alert-error {
    color: var(--text-color);
    background-color: var(--main-color); /* Adjust the error message color as needed */
}

.typeinput {
    font-family: var(--font2);
    display: flex;
    padding: 5px 0;
}

.typeinput input{
    background: rgba(21, 05, 35, 0.5);   
    border-style: solid;
    border-color: var(--second-color);
    text-indent: 7px;
    border-radius: 5px;
    width: 100%;
    height: 40px;
    font-size: var(--p-font);
    font-weight: 600;
    color: var(--main-color);
}

.typeinput input::placeholder {
    font-weight: 100;
    color: var(--second-color);
}

.typeinput .showhide {
    margin: 0 0px 0 10px;
    padding: 0px 15px;
    float: right;
    border-radius: 5px;
    border-style: hidden;
    background-color: var(--second-color);
    cursor: pointer;  
    transition: ease 0.2s;
}

.showhide:hover {
    background: var(--second-color);
}

.showhide img {
    width: 15px;
}

.logbutton {
    padding: 10px 0;
    text-align: center;
}

.btns{
    border-style: none;
    font-size: var(--p-font);
    border-radius: 5px;
    background-color: var(--second-color);
    color: var(--text-color);
    width: 100%;
    height: 40px;
    font-weight: 600;
    margin-bottom: 20px;
    transition: ease .2s;
}

.btns:hover{
    background-color: var(--high-color);
    color: var(--main-color);
    cursor: pointer;
}

#passwordMatch {
    font-weight: 600;
    color: var(--main-color);
    display: none;
    }
    
#passwordError {
    color: red;
    display: none;
}

/*-----------RESPONSIVENESS----------------*/
@media(max-width:1366px) {
    :root {
        --h2-head: 2rem;
        --p-head: 1.5rem;
        transition: .2s;
      }

}

@media (max-width: 1024px) {
    :root{ /*---font and color defaults --*/
        --h2-font: 1.5rem;
        --p-font: 1rem;
    }

}


@media (max-width: 860px) {
    :root {
        --h2-head: 1.5rem;
        --p-head: 1rem;
        transition: .2s;
      }

      .logo {
        display: flex;
        justify-content: center;
    }

}


@media(max-width:540px) {
    :root {
        --h2-head: 1.1rem;
        --p-head: 0.8rem;
        transition: .2s;
      }

    
      .title {
        justify-content: center;
    }

      .admin-content, .user-content, .create-admin {
        border-radius: 0;
        width: 100%;
    }


}

@media(max-width:380px) {
 

}

@media(max-width:280px) {
    :root {
        --h2-head: 1rem;
        --p-head: 0.8rem;
        transition: .2s;
      }

}

@media (min-height: 1024px) {
    :root {
        --h2-head: 2rem;
        --p-head: 1.5rem;
        transition: .2s;
    }

    
    .admin-content, .user-content, .create-admin {
        width: 70%;
        padding: 30px;
    }

}

@media(min-height:1300px) {
    :root {
        --big-font: 5rem;
        --h2-font: 2rem;
        --p-font: 1.5rem;
        transition: .2s;
    
    }

    .admin-content, .user-content, .create-admin {
        padding: 50px;
    }



}